[2017-11-04 04:18] rafw opened #1 "x509: certificate signed by unknown authority"
Error occurs in NewAggTradesService.

OS: mac os 10.11
Go: 1.9

[2017-11-04 12:59] adshao commented on #1
Hi rafw,
Could you give more info about this issue? the code snippet, output, etc.

[2017-11-04 14:00] rafw commented on #1
`package main

import (
	"github.com/adshao/go-binance"
	"fmt"
	"context"
)

func main() {
	client := binance.NewClient("", "")
	trades, err := client.NewAggTradesService().
		Symbol("LTCBTC").StartTime(1508673256594).EndTime(1508673256595).
		Do(context.Background())
	if err != nil {
		fmt.Println(err)
		return
	}
	for _, t := range trades {
		fmt.Println(t)
	}
}`

[2017-11-04 14:02] rafw commented on #1
Just the sample code. And I removed access key and secret key in the demo.

[2017-11-04 15:10] adshao commented on #1
seems like a certificate issue on your server, can you try to update your ca bundle? if you are using CentOS, try this: `sudo yum reinstall ca-certificates`
I guess it is casued by the changing of binance ssl certificate recently.

[2017-11-05 02:49] rafw commented on #1
哎呀妈呀，我用的是macOs 10.11，同样的代码放在ubuntu上就对了。究竟咋回事呢，老闹心了。

[2017-11-06 06:07] adshao commented on #1
请问你的Go版本是什么？根据你提供的几个链接，升级到Go1.9是否还存在这个问题？

[2017-11-06 07:02] rafw commented on #1
从1.7升级到1.9，还是一样的，按外国论坛的说法是因为mac 10.10、10.11导致的，升级操作系统可以解决

[2017-11-07 14:17] adshao commented on #1
我在OSX 10.12上没有遇到这个问题，看样子是跟本地环境有关。有几个方法可以确认是否是OSX上Go的问题:

1. 本地执行`curl https://www.binance.com/api/v1/aggTrades?endTime=1508673256595&startTime=1508673256594&symbol=LTCBTC` 是否正常
2. 本地使用Go访问其他https站点，或者使用另外的go binance SDK访问看看是否有同样的问题

[2017-11-08 03:47] rafw commented on #1
1、curl https://www.binance.com/api/v1/aggTrades?symbol=LTCBTC 返回正常

[2017-11-10 05:27] adshao commented on #1
Hi,
从测试结果来看，可以定位为环境问题，两种可能：
1. OSX Go的问题，在验证HTTPS证书时找的CA证书不对
2. 环境CA证书有问题
对于OSX环境的这个错误，我只看到go源码的这个文件出现，如果想排查可以根据源码看看哪里有问题：https://github.com/golang/go/blob/release-branch.go1.9/src/crypto/x509/verify.go#L405
如果无法解决，或者也可以先用Insecure方式绕过，等部署到其他环境时再去掉。

[2017-11-10 07:22] rafw commented on #1
嗯，等过段时间10.13稳定版出了，我升级后再试。程序最终也是linux、windows下跑，我更担心是mac不安全导致的。

[2017-11-10 08:25] adshao commented on #1
ok，如果解决了，麻烦告知解决办法。

[2017-11-12 03:42] rafw commented on #1
🆗

[2017-11-14 04:20] #1 closed

[2018-01-11 00:54] nu11ptr opened #2 "Doesn't work with go dep tool"
Given this is going to be the new de facto standard golang dependency tool thought you might be interested to know it doesn't work.

[code]

The issue seems to be some issue with a git submodule in the vendor directory - one time while doing "go get" I also got the error which is slightly more verbose giving some insight:

[code]

Strangely, simply issuing the "go get" again and it worked. However

[2018-01-12 15:57] adshao commented on #2
@nu11ptr thanks for the feedback.
I have tested the dep tool and it works for me. could you add master branch to dep command as following:
`dep ensure -add github.com/adshao/go-binance@master`
And it would be better if you can provide Gopkg.toml when that failed.

[2018-01-13 20:29] rakanalh opened #3 "GetExchangeInfo service is not implemented"
Hello,

I was trying to use your client for writing a price ticker for Binance... i noticed that i can't list exchanges and therefore, i cannot fetch the symbols available to get tickers for.
the API: https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#exchange-information is an official one by Binance so i was wondering why it's not available in your wrapper?

Up

[2018-01-13 23:06] sazor opened #5 "Single market and all Markets statistics streams"
Hi, I found two useful websocket endpoints which aren't implemented in this client.

- 24hr Ticker statistics for a single symbol pushed every second
- 24hr Ticker statistics for all symbols in an array pushed every second

Here is a link to documentation: https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md#individual-symbol-ticker-streams .
I've impleme

[2018-01-14 02:43] adshao commented on #5
Thanks,  #4 was merged.

[2018-01-14 02:43] #5 closed

[2018-01-15 19:19] rskumar commented on #2
If its related, on Windows installing it throws error -

[code]

[2018-01-15 19:41] nu11ptr commented on #2
This is the same exit code (128) and the same module (go-simplejson) mentioned, but my issued appeared on linux. After your first message I was going to go back and try to add it to a blank project, but haven't had a chance yet. It might be conflicting with my YAML module, not sure.

[2018-01-16 02:25] adshao commented on #2
It seems there is mistake of your .gitmodules setting, could you please refer to following links to deal with it:
https://github.com/openshift/origin/issues/12139#issuecomment-264955741
https://stackoverflow.com/questions/4185365/no-submodule-mapping-found-in-gitmodule-for-a-path-thats-not-a-submodule

[2018-01-18 09:32] svanas opened #6 "No url found for submodule path 'vendor/github.com/bitly/go-simplejson' in .gitmodules"
`go get github.com/adshao/go-binance`

..is giving me this error:

[code]

[2018-01-18 12:40] svanas commented on #3
I opened this PR: https://github.com/adshao/go-binance/pull/7. @adshao please review. Thanks!

[2018-01-18 12:44] adshao commented on #6
Hi @svanas , could you please refer to https://github.com/adshao/go-binance/issues/2#issuecomment-357835448 for more info.

[2018-01-18 13:20] svanas commented on #2
I have this problem with `go get` on Darwin/macOS. I suggest we remove the vendored modules altogether.

[2018-01-18 14:19] adshao commented on #3
thanks @svanas , comment updated https://github.com/adshao/go-binance/pull/7#issuecomment-358637512

[2018-01-19 13:35] adshao commented on #3
close this issue as pr #7 merged

[2018-01-19 13:35] #3 closed

[2018-01-19 14:08] adshao commented on #2
Hi @nu11ptr @rskumar @svanas , sorry for that, it was caused by the mistake about vendor init, I have fixed it. please issue `git pull master` at your convenience.

[2018-01-19 14:08] adshao commented on #6
resolved in #2

[2018-01-19 14:08] #6 closed

[2018-01-22 02:42] #2 closed

[2018-02-08 00:23] gunnsth opened #17 "Problem with cancelling orders"
Hello there.  Nice library.

I am trying to cancel order with
resp, err := client.NewCancelOrderService().Symbol(pair).OrderID(orderId).Do(context.Background())
with pair and orderId as received from open orders API call.
Always results in:
Error: <APIError> code=-2011, msg=UNKNOWN_ORDER - additional sleep

With debug mode enabled:

Binance-golang 2018/02/07 23:43:59 full url: https://www.binance.

[2018-02-09 10:46] gunnsth commented on #17
Appears to work now.  Probably was due to the timing, i.e. soon before Binance went down.

[2018-02-09 10:46] #17 closed

[2018-02-25 15:41] t00ts opened #19 "Toggling on and off a Websocket stream"
What would be the correct / elegant way to stop the `WsKlineServe` client (or any other of the websocket clients)?

I see it's easy to get it up and running, but I'm not sure on how I can turn it on and off programatically.

Thanks!

[2018-02-26 04:34] adshao commented on #19
@t00ts good question, I think we need a stopC chan to notify the program to exit. I will add the feature this week.

[2018-02-26 17:05] adshao commented on #19
Hi @t00ts , it is done by pr #23 , please follow the example: https://github.com/adshao/go-binance/#depth
pls let me know if there is any problem.

[2018-03-01 06:24] #19 closed

[2018-03-03 04:27] drecken opened #26 "Trade Streams"
Any chance for [trade streams](https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md#trade-streams) being added to this awesome project?

[2018-03-03 04:33] adshao commented on #26
hi @drecken, ofcourse, pr is welcome :)

[2018-03-04 06:33] drecken opened #28 "How to get the listenKey for User Data websocket?"
How to get the listenKey for `binance.WsUserDataServe(listenKey, wsHandler, errHandler)`

[2018-03-04 14:13] adshao commented on #28
https://godoc.org/github.com/adshao/go-binance#StartUserStreamService.Do

[2018-03-05 14:45] ghost opened #29 "Websocket timeout"
Hi adshao, first of all thanks for your work. Really appreaciated. I just wanted to ask you if there's a connection timeout or ping/pong mechanism to ensure connection stability?

[2018-03-05 15:46] adshao commented on #29
hi @davidklodner , thanks for the issue.
for connection timeout, do you mean readdealine as in https://godoc.org/github.com/gorilla/websocket#Conn.SetReadDeadline , I think we can add it as a websocket config; while for ping/pong handler, I cannot find any info about it from binance api doc, and I tested it with https://godoc.org/github.com/gorilla/websocket#Conn.SetPingHandler and https://godoc.o

[2018-03-05 15:47] adshao commented on #28
close as solved

[2018-03-05 15:47] #28 closed

[2018-03-05 15:47] adshao commented on #26
hi @drecken , I have commented on #27

[2018-03-07 14:08] claudia-jones commented on #29
@adshao  Try setting a pong handler and sending the server a ping.  If the server correctly implements the websocket protocol, then the application should receive a pong.  This may not be documented because it's at the Websocket protocol level, not part of the application.

[2018-03-07 14:37] adshao commented on #29
@claudia-jones thanks for the update, you are right, we can periodically send ping message to server, and check pong message for connection stability.

[2018-03-07 15:19] nashjob opened #30 "请问有没有计划开发整合SDK？"
请问有没有计划开发包含主流交易所的整合性SDK，看了github上的项目，貌似只有一个，支持的还不是很完善。

[2018-03-07 15:32] adshao commented on #30
暂时还没有这个计划，不知具体需求是？
你是指这个项目么？https://github.com/nntaoli-project/GoEx
基于这个项目改进应该比重新写的工作量要小。

[2018-03-08 12:15] nashjob commented on #30
恩，类似于这个项目，您这个项目做得很赞，非常感谢，已经引入工程。没有其他问题了。可以关闭了。再次感谢

[2018-03-08 12:15] #30 closed

[2018-03-12 05:07] romanorac opened #31 "APIError> code=0, msg="
This is a question, not an issue. I sometimes get an error: `Error: error:<APIError> code=0, when using msg=``client.NewDepthService().Symbol("BNBUSDT").Do(context.Background())`. Do you what it means?

This error is not documented in binance error codes: https://github.com/binance-exchange/binance-official-api-docs/blob/master/errors.md

[2018-03-12 15:45] adshao commented on #31
hi @romanorac , could you please set `client.Debug = true` before calling API? paste the output if it is reproduced. thanks.

[2018-03-12 15:45] #26 closed

[2018-03-13 21:26] romanorac commented on #31
Thank you for help. I was sending too many requests and I got blocked by CloudFlare.

[2018-03-13 21:26] #31 closed

[2018-03-19 11:07] barthr opened #34 "Lot size conversion"
Heya!

I've been using this package for a while now and really like it. There was one problem I encountered when creating orders and that was with the lot sizes. I wrote my own function to convert an amount to a lot sized amount.

Is this something you are interested in to include in the library?

Greetings

[2018-03-19 11:15] adshao commented on #34
hi @barthr , of course, pr is welcome, I really appreciate it.

[2018-03-20 18:44] barthr commented on #34
Ok nice! I will add it including some tests

[2018-03-20 20:47] barthr commented on #34
solved by #35

[2018-03-20 20:47] #34 closed

[2018-03-24 12:07] affne opened #36 "Depth"
Excuse me ,
     what is Depth in api Show Depth ?

[2018-03-25 14:34] adshao commented on #36
hi @tbure , the depth api show bids and asks as in doc: https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#order-book

[2018-03-26 10:54] AbeIgnocious opened #37 "<APIError> code=-1100"
Suddenly started getting the message: <APIError> code=-1100, msg=Illegal characters found in parameter 'interval'; legal range is '5, 10, 20, 50, 100, 500, 1000'.

[code]
Occurs for different all different legal ranges. However does not occur for every single time, and is not dependent on a specific pair.

[2018-03-26 12:54] adshao commented on #37
Hi @AbeIgnocious , could you please try to reproduce it with `client.Debug = true`? and print the request url for the failed request.

[2018-03-27 14:26] cjamessutton opened #38 "go-binance needs to stream the partial depth book for simplified depth use cases"
Basically, anybody who doesn't need the entire depth book and is only looking for the orders currently surrounding the market price would benefit from this.

[Link to the particular ws endpoint I'm talking about.](https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md#partial-book-depth-streams)

[2018-03-27 14:30] cjamessutton commented on #38
I'm working on a solution for this right now.

As an aside, what kind of process needs to happen to cut a new release for go dep? I'd love to be able to get at the stopC feature presently in master through dep.

[2018-03-27 14:32] cjamessutton commented on #38
Also, hello! This is a GREAT package. Thanks for all the hard work you've obviously put in here.

[2018-03-27 17:01] adshao commented on #37
hi @AbeIgnocious , I'm sorry I cannot reproduce it with `client.NewDepthService().Symbol("XEMETH").Limit(100).Do(context.Background())`
I got this error only if I change limit to an illegal value, for example, `Limit(110)`. Since limit is an optional param, could you just call without setting it. If it still happens, try to discuss it in telegram for binance api.

[2018-03-27 17:10] adshao commented on #38
@cjamessutton , I have created tag 1.1.0 based on the master branch, feel free to use it in go dep. Please let me know if there is any issue.

[2018-03-27 17:33] cjamessutton commented on #38
Will do. Thanks!

[2018-03-27 19:27] AbeIgnocious commented on #37
So I have been retrying the script today, it seems to now only be related to the WRP pair. I suspect it is a maintenance error on the side of binance. Using this code I run a daemon process scraping the orderbook.
[code]

Will observe if the problem persists. For now closing the issue. Thanks for the check, adshao

[2018-03-27 19:27] #37 closed

[2018-03-28 00:40] adshao commented on #38
close this issue as #39 merged

[2018-03-28 00:40] #38 closed

[2018-04-03 15:01] #36 closed

[2018-05-03 11:33] kustov-an commented on #29
Hi! Any updates on this?

[2018-05-04 09:52] donfrigo opened #48 "call and handle WsAllMarketsStatServe"
Hello,

I am trying to implement the WsAllMarketsStatServe function, but using your example code as a basis, I am constantly running into an error. Could you please help me? The error message is the following:

And below is my code:

[code]

Thank you!

[2018-05-04 10:27] adshao commented on #48
could you please try remove `*` from event since it is an alias to slice

[code]

[2018-05-04 10:35] donfrigo commented on #48
Thank you :)

[2018-05-07 03:41] adshao commented on #29
hi @kustov-an , will implement it soon.

[2018-05-07 03:42] adshao commented on #48
close as resolved

[2018-05-07 03:42] #48 closed

[2018-05-14 15:45] adshao commented on #29
I don't think we need ping/pong handler here, instead, use HandshakeTimeout https://godoc.org/github.com/gorilla/websocket#Dialer and CloseHandler https://godoc.org/github.com/gorilla/websocket#Conn.SetCloseHandler are enough to check connection stability.
Since these changes will break the compatibility, we need to refactor the web socket interfaces.

[2018-05-14 16:01] kustov-an commented on #29
Correct me if I wrong, but as I understand
1) HandshakeTimeout is only used when establishing a new connection
2) CloseHandler is executed when the connection is closed by the peer
So those changes are not going to help when the connection is lost due to network problems?

[2018-05-14 16:06] adshao commented on #29
hi @kustov-an , if the connection is lost, ReadMessage will return error: https://github.com/adshao/go-binance/blob/master/websocket.go#L45, so we can use errHandler here.

[2018-05-15 15:27] tsuz opened #49 "New release"
Hi, v1.1.1 seems to be out of date with master from seeing the [diff](https://github.com/adshao/go-binance/compare/1.1.1...6cf0e802b22a56ff09523536cf27fbb666180a98)

I'm using this commit ID as revision in Gopkg.toml because v1.1.1 doesn't support `binance.NewOrderRespTypeFULL` for example.

Could we tag another release?

[2018-05-16 06:54] adshao commented on #49
hi @tsuz , tag 1.1.2 created, let me know if there is any problem.

[2018-05-17 07:29] tsuz commented on #49
@adshao Great! Thank you!

[2018-05-17 07:29] #49 closed

[2018-05-18 13:04] kustov-an commented on #29
Hi @adshao, please take a look at my pull request #50 addressing this issue

[2018-06-11 14:34] adshao commented on #29
close as solved

[2018-06-11 14:34] #29 closed

[2018-07-19 07:51] megaherz opened #53 "MAX_NUM_ALGO_ORDERS unmarshalling error"
The exchange info endpoint might return optional  *MAX_NUM_ALGO_ORDERS* filter what leads to unmarshalling error. E.g.
[code]
results to `json: cannot unmarshal number into Go value of type string`

It makes sense to alter Symbol from
[code]
to
[code]
or create a new typed Filter entity

[2018-08-02 13:37] adshao commented on #53
hi @megaherz , this issue is resolved since #59 was merged

[2018-08-02 13:37] #53 closed

[2018-10-16 07:40] krishnagrep opened #67 "DepositAddress API missing"
I guess this endpoint is missing
https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md#deposit-address-user_data
Could you please also include this one
@jeremyhahn @sazor

[2018-10-16 08:41] krishnagrep commented on #67
ExchangeInfoService is also giving JSON parse error
`json: cannot unmarshal number into Go value of type string`

[2018-10-16 08:45] riaan53 commented on #67
Hi @krishnagrep , For the json unmarshal error use the latest master of this lib. It has been fix but not yet release.

[2018-10-18 05:44] krishnagrep commented on #67
@adshao No It's fine , I updated my local repo as suggested by @riaan53 .

[2018-10-18 05:48] adshao commented on #67
@krishnagrep  thanks. For the deposit addresses API, you can submit a pull request for that.

[2018-10-18 05:49] krishnagrep commented on #67
@adshao Will submit a pull request over the weekend.

[2018-11-05 12:17] ivank2139 opened #70 "Stop Limit order type"
Can this be updated to include the Stop Limit order type?

[2018-12-23 04:00] smcduck opened #72 "{"code":-2014,"msg":"API-key format invalid."}"
code:

`client := binance.NewClient("w1***gU", "PW***AW")
	client.Debug = true
	xhttp.SetProxy(client.HTTPClient, "socks5://127.0.0.1:1086")
	res, err := client.NewGetAccountService().Do(context.Background())
	if err != nil {
		fmt.Println(err)
		return
	}
	fmt.Println(res)`

logs:

Binance-golang 2018/12/23 11:22:24 full url: https://www.binance.com/api/v3/account?timestamp=1545535344786&signatur

[2018-12-23 05:55] #72 closed

[2018-12-28 16:38] stanhordiyenko opened #73 "How to convert Binance timestamp to datetime?"
Hi, could you help me with Binance timestamp conversion to Time in Golang? Cheers.

`tm := time.Unix(order.Time, 0)` doesn't work and returns some time in the far far future.

[2018-12-29 09:15] adshao commented on #73
You should use `order.Time / 1000`

[2019-01-02 22:02] stanhordiyenko commented on #73
Thank you, @adshao It works.

[2019-01-02 22:02] #73 closed

[2019-01-11 01:22] shiggid opened #74 "package context: unrecognized import path "context" (import path does not begin with hostname)"
Using go 1.8 on ubuntu 16.04 (WSL)

when trying to install:
go get github.com/adshao/go-binance

package context: unrecognized import path "context" (import path does not begin with hostname)

[2019-01-31 17:34] kelf47 opened #75 "Cannot unmarshal number into Go value of type string"
I'm getting this error on NewExchangeInfoService.Do
 I guess binance is returning an integer defined as string.
https://github.com/adshao/go-binance/blob/e9a4ac01ca4814807bd4fb573da2129564cb23b3/exchange_info_service.go#L25

[2019-02-01 02:37] adshao commented on #75
Hi @kelf47 Could you submit a pr for it?

[2019-02-01 10:56] kelf47 commented on #75
Hi! Sorry I had an old version of go-binance code. With the new 1.2.0 release all is working properly. Thx!

[2019-02-01 10:56] #75 closed

[2019-02-17 12:36] skanger opened #76 "Dose proxy can be added?"
Can we set proxy for the whole package?
It may be useful for dev.

[2019-02-20 15:05] adshao commented on #76
Hi @skanger , you can set client.BaseURL or client.HTTPClient after initializing client with NewClient(apiKey, secretKey)

[2019-02-23 19:20] TheLetterJ opened #77 "Stop websocket within handler?"
Is there a way to stop/pause the websocket stream from within the handler? I see the use of a timer and stopC in the WsDepthServe example in the readme, but that is not what I'm looking for. What would be the elegant way to stop the stream while its running without the use of a timer? Thanks!

[2019-02-25 10:34] halink0803 opened #78 "GetWithdrawFeeService is not working"
I tried to use get withdraw fee using GetWithdrawFeeService but is is not working. It returns binance.APIError{Code: 0, Msg:""}.

I checked with [official documentation](https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md), and it seems the does not have /wapi/v3/withdrawFee.html anymore. Instead, they have /wapi/v3/assetDetail.html, which they include withdrawFee

[2019-02-25 12:10] smcduck commented on #76
WebSocket APIs proxy support needed

[2019-03-01 15:09] adshao commented on #78
hi @halink0803 , Could you please submit a pr for that?

[2019-03-01 15:16] adshao commented on #77
Hi @TheLetterJ ,  I think we need to refactor wsServe to pass stopC to handler in https://github.com/adshao/go-binance/blob/master/websocket.go#L54, could you please submit a pr for that? or I'll implement it later. Thanks.

[2019-03-01 19:06] TheLetterJ commented on #77
So I was able to accomplish this by declaring doneC before everything:

`doneC := make(chan struct{})`

Then I used

`doneC <- struct{}{}`

inside the handler. It seemed to work fine, but I'm not sure if this is ideal.

[2019-04-04 13:33] loganbfisher opened #81 "Does the WsKlineServe return the last 500 candles?"
I am rewriting a project in go from javascript and the other library I used for websockets and candle updates provided me with the last 500 candles for a coin and then would provide updates to that candle.  Does this service also do that?  If not can you point me in the right direction?

[2019-04-04 13:43] adshao commented on #81
Hi @loganbfisher , WsKlineServe just receives messages from binance server, maybe you need KlinesService to get the last 500 candles before serving websocket: https://github.com/adshao/go-binance/blob/master/kline_service.go#L9

[2019-04-04 14:04] loganbfisher commented on #81
Ah nice ok I really appreciate the fast response!  I will check that out!

[2019-06-02 01:54] purplecity opened #83 "copy some library code can't get websocket data"
* I write test.go(appendix) completely copy from your library and execute it, then error: websocket :bad handshake

* but if i directly use your library source.go(appendix) and excute it. it is ok and work well

* why test.go can't get data？

[code]

[code]

[2019-06-02 01:59] purplecity commented on #83
### yes
[code]

[2019-06-02 03:17] purplecity commented on #83
已经找到问题了 是我的url不正确谢谢 打扰了 麻烦关闭这个issue

[2019-07-24 18:23] qmn1711 opened #87 "[Feature Request] Support margin api"
Binance has released margin api: https://github.com/binance-exchange/binance-official-api-docs/blob/master/margin-api.md

Please add this to the SDK, thank you @adshao!

[2019-07-25 01:09] adshao commented on #87
Hi @qmn1711 , thanks for the update, I'll add margin soon.

[2019-07-25 06:41] Trashed opened #88 "How is the fetching of new Klines supposed to work?"
I tried to fetch new Klines in a loop, and the way I tried to achieve this was to update the KlineService's `startTime` parameter with the `CloseTime` value from the last Kline in a set of 1000 Klines in each iteration. I also tried to create a completely new KlineService with updated `startTime` value but in both cases the KlineService only fetched the same 1000 Klines over and over again. Why is

[2019-07-25 07:03] Trashed commented on #88
I found the cause of the problem, I just made a mistake how to call the KlineService. I'm closing this issue.

[2019-07-25 07:03] #88 closed

[2019-07-26 10:09] skanger opened #89 "[Feature Request] Need Websocket AutoReconnect"
It may be helpful for people who has unstable network .

[2019-07-29 08:58] adshao commented on #89
hi @skanger , could you please describe your issue in more detail? for ws, you can put it in an infinite loop to reconnect.

[2019-07-30 07:59] skanger commented on #89
can you put the code on READ.ME?
I usually used  Client to do reconnect.
because of this repo used "event mode", I don't know how to write "infinite loop" to reconnect.

BLOW IS CHINESE TRANSLATE:
能写一下具体的用法吗？
因为我看你用的是事件模型+handler组合，一组 有 messageHandler和errorHandle, 跟js的设计很像，但是我一般用client来做，假设我订阅10个symbol，那么就有10组handler，假设某一个symbol掉了，client没有保存哪个symbol掉了，就无法及时重新订阅了。
我尝试过在 errorHandle里面自己发起重新订阅，但是没有走通

[2019-08-02 15:15] adshao commented on #89
@skanger 能把你的错误信息发一下吗？具体是哪一行推出的？

[2019-08-03 15:54] adshao commented on #87
@qmn1711 margin api is in developing on branch feature/margin-trade: https://github.com/adshao/go-binance/tree/feature/margin-trade, will be merged into master as soon as it is finished

[2019-08-06 02:42] skanger commented on #89
[code]
我没有捕捉这个error，因为我要的效果是一担某个symbol断开了，立马重新订阅，保证数据不断。
能贴一下你说的死循环不断开是什么样子吗？

[2019-08-06 07:19] qmn1711 commented on #87
it's great, also thanks for your v3 APIs updating!

[2019-08-07 10:07] ll01 opened #92 "update tutorial TimeInForce function"
update readme tutorial to use

- TimeInForceTypeGTC in the  .TimeInForce function.

[2019-08-09 06:31] skanger commented on #89
报错error内容如下
[code]

[2019-08-11 06:46] adshao commented on #89
hi @skanger , binance.WsKlineServe 这个方法返回的第一个值是channel，你可以监听这个channel来实现重新连接：
[code]

[2019-08-13 12:04] adshao commented on #87
resolved as #93 merged

[2019-08-13 12:05] #87 closed

[2019-08-13 12:25] adshao commented on #92
thanks @ll01 , resolved in #94

[2019-08-13 12:25] #92 closed

[2019-08-23 07:25] henrytw opened #95 "Need margin user data stream"
Could you add this feature?
Thank you.

[2019-08-26 14:52] #89 closed

[2019-08-26 14:52] #83 closed

[2019-08-26 14:56] adshao commented on #95
hi @henrytw , could you please give me the link of this API?

[2019-08-26 15:23] henrytw commented on #95
https://github.com/binance-exchange/binance-official-api-docs/blob/master/margin-api.md
Start user data stream: POST /sapi/v1/userDataStream
Delete: DELETE  /sapi/v1/userDataStream
Keep: PUT  /sapi/v1/userDataStream

[2019-08-26 15:56] adshao commented on #95
thanks @henrytw , just added these API in #96 , please checkout the latest code, and let me know if there is any problems.

[2019-08-28 15:48] adshao commented on #95
closed as #96 merged

[2019-08-28 15:48] #95 closed

[2019-09-23 09:23] Krisa opened #97 "Request: ability to detect API rate limit hit, and re-attempt the request"
It would be great if it could detect when the API rate limit is hit (code -1003) and subsequently wait for one minute, or until the ban is lifted: https://github.com/binance-exchange/binance-official-api-docs/blob/master/errors.md#-1003-too_many_requests

It's not just enough to count the weight placed, since the IP might be used by different apps, including also just accessing Binance in the brow

[2019-09-23 09:46] riaan53 commented on #97
It would be nice but should just allow custom rate limiters by implementing an interface. I use this lib in a distributed env and using redis for rate limiting.

[2019-09-23 10:22] adshao commented on #97
Hi @Krisa , in my opinion, it's not a job of SDK, you should check the rate limit in your app using the SDK.

[2019-09-23 10:31] Krisa commented on #97
@adshao sorry, which SDK do you refer to?

Not sure we're referring to the same thing, but I'm not sure how this could possibly be implemented in a good way outside this package:
1- The current rate limit is returned in the HTTP headers as described in the Binance doc through `X-MBX-USED-WEIGHT-(intervalNum)(intervalLetter)` and I don't think there is a way to read this value outside the package.

[2019-09-23 10:50] adshao commented on #97
@Krisa SDK is this go-binance package.
Thanks for the advise, you are right, currently there is no way to get response instance, so that we can't check current rate limit which is returned in response header.
Maybe we can define a interface for all service data to implement, for example:
[code]
then parse response header into Header field.
So that users can get the response header to check rate li

[2019-09-23 11:05] Krisa commented on #97
Ok, closing this issue as actually, this can be implemented as of now by using the RoundTripper and overriding the HTTPClient. For reference:
https://stackoverflow.com/questions/47465927/use-same-headers-for-every-request https://github.com/adshao/go-binance/blob/master/client.go#L137

[2019-09-23 11:05] #97 closed

[2019-10-20 11:49] michakfromparis opened #98 "[Feature Request] Support Futures API"
Binance has released the futures API documentation here:
https://binanceapitest.github.io/Binance-Future-API-test-doc/general_info/

[2019-10-20 12:03] michakfromparis commented on #98
Being able to retrieve the balance / positions would be a good start.

[2019-11-07 12:29] adshao commented on #98
Thanks for the suggestion, I will look into the future API and add future support after that.

[2019-12-11 12:42] Krisa opened #100 "[Feature Request] support Side Effect Type when placing margin order"
It looks like we can place finally (useful) margin orders through the API when setting `sideEffectType` to `MARGIN_BUY` according to the Change Log from Nov 30th: https://binance-docs.github.io/apidocs/spot/en/#change-log.

It would be nice if it was added to the code of this package.

[2019-12-30 15:03] adshao commented on #100
Hi @Krisa , thanks for the info, this has been implemented in pr #101 , let me know if there is any problem.

[2019-12-30 15:03] #100 closed

[2020-01-01 14:33] Algalish commented on #98
@adshao  Hi! Are you working on Futures, and if yes - is there some kind of date, when you think it will be available?
Thx in advance!

[2020-01-02 12:08] adshao commented on #98
Hi @Algalish , Yes, I'm working on it, but there are other issues affect the progress, I think it will be available in next two weeks.

[2020-01-15 16:13] adshao commented on #98
Hi @michakfromparis @Algalish , Futures API support is implemented in #104 , which will be merged into master as long as functional testing completes. Feel free to use branch `feature/futures` for testing.

[2020-01-16 17:27] georgk10 opened #105 "Error -1106 randomly occurring"
I'm not sure whether it's a problem regarding this SDK or if it's a problem with Binance (because I'm creating orders quickly one after the other - around 20ms between two orders).
Sometimes (like 50% of the time)  the following error occurs when my bot tries to place an order:

I cannot see why the error occurs, it just seems to be random. I'm using the client to create market orders as quoted be

[2020-01-16 17:59] adshao commented on #105
hi @georgk10 , could you set `client.Debug = true` to print the request info?
I'm not sure the restriction of Market order, however, it would be better to ask admins in [binance API telegram group](https://t.me/binance_api_english) about the error.

[2020-01-16 18:09] georgk10 commented on #105
Hi @adshao , here is the output generated by my bot with client.debug = true:

Binance-golang 2020/01/16 18:06:01 response body: {"code":-1106,"msg":"Parameter 'quantity' sent when not required."}
Binance-golang 2020/01/16 18:06:01 response status code: 400
<APIError> code=-1106, msg=Parameter 'quantity' sent when not required.

[2020-01-16 18:37] georgk10 commented on #105
Problem solved, the log showed that quantity was set to 0 due to an calculation problem. Everything works fine now. Thanks for the hint with setting client.debug = true

[2020-01-17 05:16] nifflerfox opened #106 "为什么不把future合并到master"
合并更方便使用，谢谢

[2020-01-18 05:58] adshao commented on #106
hi @nifflerfox , feature/futures 分支还在测试当中，等测过完成后会合入master

[2020-01-20 13:55] friday-james opened #107 "Not able to close WsUserDataServe by using only `stopC`"
I used the same way as mentioned on `README.md` to close the websocket. It does close `WsDepthServe`, but doesn't close `WsUserServe` until I have placed an order to trigger the `wsHandler`.

[code]

[2020-01-31 02:26] adshao commented on #105
Glad to hear that.

[2020-01-31 02:26] #105 closed

[2020-02-08 16:10] Krisa commented on #98
Hi @adshao. Thanks for adding this feature! Were you able to successfully complete the functional testing or is something failing?

[2020-02-09 03:35] adshao commented on #106
closed as #104 is merged

[2020-02-09 03:35] #106 closed

[2020-02-09 03:36] adshao commented on #98
@Krisa Yes, #104 has beed merged, it would be appreciated if you can help us test this new feature.

[2020-02-09 03:36] #98 closed

[2020-02-11 07:21] geniusnut opened #114 "ListMarginLoansService omits secType."
diff --git a/margin_service.go b/margin_service.go
index e7e71f3..0078088 100644
--- a/margin_service.go
+++ b/margin_service.go
@@ -199,6 +199,7 @@ func (s *ListMarginLoansService) Do(ctx context.Context, opts ...RequestOption)
        r := &request{
                method:   "GET",
                endpoint: "/sapi/v1/margin/loan",
+               secType:  secTypeSigned,
        }
        r.setP

[2020-02-11 07:25] geniusnut commented on #114
sorry for the markdown grammar error.
[code]

[2020-02-11 07:31] adshao commented on #114
hi @geniusnut , really appreciate if you could send a pull request for it.

[2020-03-03 08:34] Krisa opened #127 "Keep synced with Binance Server Time or allow a time offset to be set"
follow-up on https://github.com/adshao/go-binance/pull/125

It's sometimes hard (require external sync application), or not possible, and at best requires lots of tooling to be able to change the time machine, especially in cross environment (Windows, Linux, Darwin)... And in case one needs the require permissions to run such tools and do such modifications.

I see for example that the most popula

[2020-03-07 18:54] Krisa commented on #127
@adshao thoughts ?

[2020-03-08 02:29] adshao commented on #127
@Krisa Sorry for the late reply. Yes, I agree with you, an optional parameter `useServerTime` in https://github.com/jaggedsoft/node-binance-api#troubleshooting is more acceptable and useful in some cases than directly calling ntp synchronization in  #125.

[2020-03-08 02:38] adshao commented on #127
To support this feature, we could set `useServerTime` in  https://github.com/adshao/go-binance/blob/master/client.go#L191 as a per request option.

[2020-03-08 17:35] Krisa commented on #127
@adshao The problem of `useServerTime` in the node binance library is that it does a one time request when the client is initialized and... that's it. If the app is running multiple days, we can easily get out of sync again. That's the opposite of #125, and not really better either.

I'd be more in favour of exposing the `timeOffset` here https://github.com/jaggedsoft/node-binance-api/blob/d011f58

[2020-03-10 09:37] #127 closed

[2020-03-23 08:19] qadirp opened #131 "Deprecation of v1 endpoints"
Please remove v1 endpoints in the package and update it with new v3 ones

[Binance Change.md](https://github.com/binance-exchange/binance-official-api-docs/blob/master/CHANGELOG.md)

[2020-03-26 15:18] adshao commented on #114
closed as #133 merged

[2020-03-26 15:18] #114 closed

[2020-03-26 15:32] adshao commented on #131
Hi @qadirp , all the v1 APIs in the document have been moved to v3, let me know if there is any problems.

[2020-03-30 06:51] #131 closed

[2020-04-13 18:03] ADelache opened #137 "Problem with create order service with futures"
futuresClient.NewCreateOrderService().Symbol("BTCUSDT").Side(futures.SideTypeBuy).Type(futures.OrderTypeLimit).Quantity("0.2").Price("6550.44").Do(context.Background())

Hi,
I can't place the orde, my api works, account service works but orderservice not work.

[2020-04-13 19:02] ADelache commented on #137
ok i found my err

[2020-04-13 19:02] #137 closed

[2020-05-01 01:08] hiroaki-yamamoto opened #138 "Semantic Versioning in Go"
Hi,

I think this topic is what you might know, but as fyi, all go package release should be prefixed with "v" (e.g. v1.0.0, v1.1.0, v2.0.0...) so that go mod can find the version ([Check this](https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic_versioning)).

Also, I like your binance package better than official api code :smile:

[2020-05-01 01:31] adshao commented on #138
thanks @hiroaki-yamamoto , just added tag [v2.1.1](https://github.com/adshao/go-binance/tree/v2.1.1), let me know if there is any problem.

[2020-05-01 01:32] #138 closed

[2020-05-11 16:59] loeffel-io opened #139 "Please update module"
module github.com/adshao/go-binance
**to**
module github.com/adshao/go-binance/v2

[2020-05-28 18:29] im4kv opened #140 "how to register to the Diff. Depth Stream"
Hi all,
Is there any documentation that describe how to subscribe to the Diff. Depth Stream to locally keep an order book?

Thanks in advance

[2020-06-04 15:16] adshao commented on #140
Hi @ikhosravi , please refer to: https://binance-docs.github.io/apidocs/spot/en/#diff-depth-stream

### How to manage a local order book correctly

1. Open a stream to wss://stream.binance.com:9443/ws/bnbbtc@depth.
1. Buffer the events you receive from the stream.
1. Get a depth snapshot from https://www.binance.com/api/v3/depth?symbol=BNBBTC&limit=1000 .
1. Drop any event where u is <= lastUpdate

[2020-06-04 15:17] adshao commented on #140
The websocket usage is described [here](https://github.com/adshao/go-binance#depth).

[2020-06-04 15:20] adshao commented on #139
Hi @loeffel-io , thanks for the suggestion, I'm planning to work on this issue.

[2020-06-06 18:02] ikhosravi commented on #140
thanks @adshao I've already seen the doc but I thought maybe there is some sort of implemented function related to this functionality into Go-binance package. do you suggest to do the instruction of the doc using go-binance or use ordinary WebSocket client to do it?

[2020-06-06 18:04] ikhosravi commented on #140
Got it

Got it, but I should do the REST call separately right?
and how could I set the depth of requested orderbook? I mean: bnbbtc@depth

[2020-06-09 14:36] adshao commented on #140
Yes, REST API should be called separately from websocket.
I think you should manually update the bids and asks to keep a newest order book. For the implementation of local order book, I suggest discussing this topic in binance [official telegram group](https://t.me/binance_api.english).

[2020-06-10 01:02] #67 closed

[2020-06-15 15:27] adshao commented on #139
Hi @loeffel-io , I just added v2 support for go mod in #144 , let me know if there is any problem.

[2020-07-06 10:51] 0cv opened #145 "Options API (aka Delivery)"
Options trading is going to be a thing when it comes to Desktop (only available on Mobile atm). @adshao do you have plans to implement it, or anyone else in the near future?

for reference https://binance-docs.github.io/apidocs/delivery/en/#change-log

[2020-07-09 13:02] adshao commented on #145
Hi @Krisa , seems like a big feature, I'll have a look at it. BTW, are you interested in implementing it?

[2020-07-09 13:26] Krisa commented on #145
@adshao - well I was more interested in using it 🤣  This being said, yeah it's again a brand new API, but on the brighter side, it's almost a perfect clone from the Future API. Duplicating the Future API, replacing fapi, by dapi and then some small changes here and there and we should be good to a large extent.

[2020-07-09 13:40] adshao commented on #145
Yes, it's just another Future API. Thanks for the suggestion, hopefully I'll implement it in a few weeks :)

[2020-08-02 07:55] siaminator opened #149 "WsDepthEvent is only available for Spot Market"
There are a series of WebSocket APIs that are available for future market independently from the spot market and have different data. One of which would be `binance.WsDepthEvent`:
currently the implementation is using `baseURL` to access this websocket which is for the spot market. so I could not find a way to use this library to listen to `Futures Diff. Book Depth Streams`.

This would mean for e

[2020-08-02 07:58] siaminator commented on #149
We need either a type of market for the input of this method based on which to decide which Base to use, or 2 different methods, maybe even separate the package for `Futures` wss APIs, same way it has been done for the REST ones

[2020-08-04 01:04] adshao commented on #149
Hi @siaminator , you are right, we need to add separate websocket APIs to `futures` package. I'll working on this next week.

[2020-08-05 15:06] i0x71 opened #150 "Futures support"
Hi,
Is there a list or supported features for futures trading ?

Thanks

[2020-08-14 13:23] adampointer opened #151 "WsFutureUserDataServe regular disconnects"
Hi,

The user data stream on the futures api disconnects a lot. It is inconsistent. Sometimes it is every 5-10 minutes other times it can be stable for hours. It could well be an issue with Binance or my software. My bot works perfectly on the spot api which is weird.

Do you experience this too or is it just me?

[2020-08-14 15:01] Krisa commented on #151
Now you're writing about this, I checked my logs and ... 😱
I can't see much people saying anything in Binance API TG 🤔

[2020-08-14 15:42] adampointer commented on #151
https://dev.binance.vision/t/event-user-data-stream-expired-occurs-frequently/466

[2020-08-16 15:40] adshao commented on #150
Not yet, if you find any features missing, feel free to submit a pull request or open an issue for it.

[2020-08-17 02:42] adshao commented on #151
Sorry, I don't have a bot running for a long time. Seems it is an issue to Binance server.

[2020-09-01 05:36] afenrir commented on #149
Hey @adshao, thanks for this awesome library. I wonder if you have had an opportunity to make any progress with the futures websocket endpoints? If not, do you know of any workarounds?

[2020-09-02 17:24] adampointer commented on #151
I will close this.

[2020-09-02 17:24] #151 closed

[2020-09-03 03:41] art1313 opened #155 "Orderbook data"
Hi, it seems that there are no websocket individual order book data streams.
https://github.com/binance-exchange/binance-official-api-docs/blob/master/web-socket-streams.md#individual-symbol-book-ticker-streams

 Can you please confirm?

[2020-09-10 21:43] elboletaire commented on #139
@loeffel-io were you able to try it? I'm trying to do so, but whatever I try ends up with the following error:

[code]

[2020-09-10 21:50] elboletaire opened #156 "Return all api errors as APIError"
Right now, errors arisen by methods like `CreateOrderService.Do()` are returned as golang basic `error` types, concatenating both the error code and the error message in most cases.

I think `APIError` type should be returned always from any of the methods which intervene with the API.

The current behavior makes it tedious to properly determine which of the API errors has been returned.

The comp

[2020-09-11 09:11] elboletaire commented on #89
I'm facing with this error a lot these days. Shouldn't this error be returned in the `errHandler` function? Or it is an error returned to the `err` var above? I'm a bit confused because I also have a `panic` there, but the error doesn't look as a panic error at all (it doesn't even have the `panic` word prefixing it):

[code]

[2020-09-11 10:00] loeffel-io commented on #139
@elboletaire did not tried it yet - will let you know when i get to it 👍

[2020-09-15 15:06] adshao commented on #155
Hi @art1313 , yes, this websocket is not added yet. I would appreciate it if you could add it.

[2020-09-15 15:15] adshao commented on #156
Hi @elboletaire , APIError stands for an error received from binance server, there is other errors, for example, [json unmarshal error](https://github.com/adshao/go-binance/blob/master/account_service.go#L26), when calling `Do()` method. I suggest that you should try to convert `err` to `APIError` like `apiError, ok := err.(APIError)`, any other suggestion?

[2020-09-15 15:29] elboletaire commented on #156
I may had understood it wrong.

When I do make a limit order to the exchange using [`CreateOrderService.Do()`](https://github.com/adshao/go-binance/blob/cec0e015eb81b8cfd95baa2d70ecc446a755f889/order_service.go#L134), the error returned by that function (if any) is a normal golang `error`, joining both the `code` and the error `message` in a single string. Am I right?

[2020-09-15 15:34] afenrir commented on #156
[code]

[2020-09-15 15:40] adshao commented on #156
@elboletaire Yes, you are right, but if you want to access this error as an `APIError`, you should convert it first as the code example provided by @afenrir , after that, you can check apiError.Code for different errors in [binance doc](https://binance-docs.github.io/apidocs/spot/en/#error-codes-2).
Thanks @afenrir for the example.

[2020-09-15 15:54] elboletaire commented on #156
Ah ok! Didn't know about that and will give it a try. Thanks both @afenrir and @adshao :smiley:

[2020-09-15 15:54] #156 closed

[2020-09-18 18:03] addodelgrossi opened #158 "Future Kline/Candlestick Streams"
Future Kline/Candlestick Streams are implemented ?

[2020-09-18 18:27] addodelgrossi commented on #158
Sorry, I can use

[code]

[2020-09-18 18:27] #158 closed

[2020-09-21 12:25] javierjait commented on #150
Hi, can I use coin-futures with futures client (https://dapi.binance.com)?

Thanks

[2020-09-23 07:28] afenrir opened #160 "Version 2 API"
I need access to a v2 endpoint that the library does not currently offer. This is perhaps a silly question, but if I change the method in the `v2` directory (i.e. a breaking change) will that be accepted as a PR? I'm not 100% sure what that directory is for.

Edit: The v2 endpoint that I need is the futures account balance: https://binance-docs.github.io/apidocs/futures/en/#futures-account-balance

[2020-09-26 17:13] addodelgrossi commented on #160
I had the same question about using v2

[2020-09-27 12:11] adshao commented on #160
Hi @afenrir @addodelgrossi , sorry for the confusion about the v2 directory, it was introduced in #139 , v2 stands for the version of this package instead of binance API. If it is a breaking change, it's better to use v3,  but I think it's OK to add your change to v2 directory. please keep the main package backwards compatible, that means any new features should be add to v2 directory.

[2020-09-27 12:12] adshao commented on #160
For more info about v2 modules, please refer to https://blog.golang.org/v2-go-modules

[2020-09-27 13:27] afenrir commented on #160
Thanks for the clarification, @adshao. I am new to go and had not yet come across this aspect of module management. Your link was useful.

As mentioned, I think i can maintain backwards compatibility with the v1 module by retaining the name `WithdrawAvailable` instead of using `maxWithdrawAmount`, which is used by the new API endpoint.

Would you accept a PR directly to the version 1 package? The

[2020-09-27 13:39] adshao commented on #160
Hi @afenrir , I suggest only adding this change to v2 directory. Because there will be other new APIs need to be updated in the future, it's better to keep field name synchronized with JSON response.

[2020-09-27 13:41] afenrir commented on #160
Sounds good to me.

[2020-09-27 13:41] #160 closed

[2020-10-12 13:15] adshao commented on #150
It's not implemented yet.

[2020-10-29 20:03] elboletaire opened #169 "Configurable websocket endpoint"
I'd like to use binance's [SPOT testnet](https://testnet.binance.vision/) (I'm tired of "wasting money" for my tests), but I don't see a way to configure the websocket endpoint right now.

Could it be possible to add to the websocket some kind of way to configure the endpoint like there's with the REST client? I see there's a `WSConfig` struct, but its creation is forced in the websocket methods,

[2020-11-02 20:51] afenrir commented on #169
It is possible to change the API endpoint for the client like so:

[code]

[2020-11-05 05:42] #149 closed

[2020-11-05 06:02] adshao commented on #169
Hi @elboletaire , thanks for the suggestion, we need a websocket client to set this endpoint just like the REST client. I'll add this feature.

[2020-11-24 07:05] shapengw opened #173 "can you help to indicate the entry?"
Please ignore this issue~

[2020-11-24 08:11] shapengw commented on #173
Should I change the version number from 1.13 to 1.14?

![image](https://user-images.githubusercontent.com/53637595/100060111-0f694b00-2e67-11eb-9531-b327026361d0.png)

[2020-11-24 08:12] shapengw commented on #173
I did the change, and manually added one main.go file.
But I got alarm info as below, when edit.

![image](https://user-images.githubusercontent.com/53637595/100066304-e1d4cf80-2e6f-11eb-8b2d-0287f92cfc78.png)

[2020-11-24 09:15] #173 closed

[2020-11-29 06:34] Denton-L opened #174 "Support batchOrder for futures"
The Binance futures API allows the [placement of multiple orders](https://binance-docs.github.io/apidocs/futures/en/#place-multiple-orders-trade) or the [cancellation of multiple orders](https://binance-docs.github.io/apidocs/futures/en/#cancel-multiple-orders-trade). We should support this in the library too.

One open question is that I'm not sure how you would shoehorn multiple orders into a fl

[2020-11-29 06:38] Denton-L opened #175 "Parse UserData websocket events"
Currently, `WsFutureUserDataServe()` and `WsUserDataServe()` both accept generic `WsHandler` types. However, the response events are known: https://binance-docs.github.io/apidocs/spot/en/#payload-account-update and https://binance-docs.github.io/apidocs/futures/en/#event-user-data-stream-expired

We should parse the data into big Go structs which contain every possible field. It will be up to the

[2020-11-29 10:47] Denton-L opened #176 "Use specialized types in futures.PositionRisk"
`futures.PositionRisk` defines `MarginType` and `PositionSide` which, instead of `string`s, could be defined as `MarginType` and `PositionSideType` respectively.

[2020-11-30 01:44] Denton-L commented on #175
This is the struct that I am planning on using for futures events:

[code]

[2020-12-12 23:31] straddler commented on #174
Hi,

I started using this lib a couple of weeks ago and I do miss this future already a bit.

I have looked into code a bit and I don't see easy way for such thing to be implemented. I guess the most basic would be to introduce new service structure that contains array of CreateOrderServices.

Or maybe on today's CreateOrderService introduce new method, idk chain that will return CreateOrderServic

[2020-12-13 07:51] afenrir commented on #174
A new method on `CreateOrderService` is probably not the way to go, in my opinion. If I understand what you're suggesting correctly, it would require a recursive data structure for `CreateOrderService` that would be somewhat confusing and counterintuitive. As the name implies, a `CreateOrderService` is for a single order and should stay that way.

I like your first suggestion of a new service stru

[2020-12-13 09:24] Denton-L commented on #174
I definitely agree that we shouldn't be altering `CreateOrderService`. Perhaps a new `CreateBatchOrderService`?

Thinking about it some more, here's my proposal: we have `CreateBatchOrderService.CreateOrder()` which returns a `CreateBatchOrderServiceOrder`. From there, `CreateBatchOrderServiceOrder` has the same fluent design with the same interface as `CreateOrderService` (as in, you can call Cre

[2020-12-13 17:42] Denton-L opened #179 "Adapt to 2020-12-08 changes"
https://binance-docs.github.io/apidocs/futures/en/#change-log

The first change,

breaks unmarshalling. It ends up always returning this error:
[code]

This happens because Go attempts to first do case-insensitive unmarshalling. Since `e string` and `E int64` are incompatible, when `e` initially tries to unmarshal into `E`, the error is returned. The actual result is fine but since an error is ret

[2020-12-13 18:00] afenrir commented on #179
Thanks, @Denton-L.

[2020-12-14 15:46] #179 closed

[2020-12-14 21:29] straddler commented on #174
@Denton-L lets say I want to create 2 orders I would do something like:

`client.NewCreateBatchOrderService().CreateOrder().Price(***).SideType(***).CreateOrder().Price(***).SideType(**).Do(***)`

I am fine with that, sounds reasonable enough to me from the API standpoint. I dislike the naming a bit, this CreateBatchOrderService**Order** to many orders in there.

Also I think we don't need that ad

[2020-12-14 22:01] afenrir commented on #174
I read Denton's proposal a little differently. `CreateOrder` would return a `CreateBatchOrderServiceOrder`, not a `CreateBatchOrderService`, meaning that it would have no `CreateOrder` method. You would need to go back to the original object to create another order, like so:

[code]

Please correct me if I am wrong, Denton. I think something like that would be okay. For the sake of completeness, h

[2020-12-14 22:20] Denton-L commented on #174
Yep, you read it correctly. Between your proposal and mine, I like yours much better. Given the way my code interacts with this library, it is much easier for me to integrate your design than it would be for mine.

[2020-12-14 22:24] Denton-L opened #182 "Update the library to match futures changes made on 2020-12-08"
https://binance-docs.github.io/apidocs/futures/en/#change-log

# WEBSCOKET

* [x] New field e for event type in payload of streams <symbol>@bookTicker and !bookTicker (#179, #180)
* [ ] New field P for estimated settle price in payload of streams <symbol>@markPrice, <symbol>@markPrice@1s, !markPrice@arr, and !markPrice@arr@1s.
* [ ] New stream <pair>_<contractType>@continuousKline_<interval> for c

[2020-12-15 01:36] adshao opened #183 "Remove v1 APIs from master branch"
only leave v2 APIs in master branch, move v1 APIs to a new branch named 'v1'

[2020-12-15 01:38] adshao commented on #182
thanks @Denton-L for the TODO list.

[2020-12-16 20:30] straddler commented on #174
@afenrir great proposal, I really like it!

[2020-12-21 09:05] afenrir commented on #182
The following were completed in #184

- New fields in response to GET /fapi/v1/exchangeInfo
- Contract types: PERPETUAL

[2020-12-22 20:38] tschaboo opened #189 "Error trying to use "v2" module"
When trying this code
[code]
I get
[code]

I was unable to solve this issue myself. Am very new to golang. Using go 1.15.6.

[2020-12-22 20:42] afenrir commented on #189
You can install it with.

[code]

Once v1 has been removed from the master branch (#183) you should be able to just install it normally.

[2020-12-22 20:52] tschaboo commented on #189
Thank you very much for your help, that worked!

(I leave the ticket open so that others can find it easier)

[2020-12-22 23:30] tschaboo opened #190 "Missing function for receiving mark prices for all symbols"
The API (https://binance-docs.github.io/apidocs/futures/en/#mark-price) makes the symbol parameter for `GET /fapi/v1/premiumIndex` optional but `PremiumIndexService` requires it.

[2020-12-23 17:22] Algalish opened #191 "Futures testnet support"
Guys, is this the right way to connect to futures testnet at the moment?

[code]

or will that also work?
[code]

[2020-12-27 23:21] tschaboo commented on #190
There's `WsAllMarkPriceServe` for that.

[2020-12-27 23:21] #190 closed

[2020-12-30 14:54] #183 closed

[2020-12-30 15:11] adshao commented on #189
hi @tschaboo , please use ```go get -u github.com/adshao/go-binance/v2@v2.2.0``` since v1 has been remove from master branch.

[2020-12-30 20:04] mflendrich opened #196 "[v1] ListMarginOpenOrdersService disregards "isIsolated""
In v1, specifying `IsIsolated` on `ListMarginOpenOrdersService` is ineffective because `ListMarginOpenOrdersService.Do()` never populates the `isIsolated` field of the API request.

## Reproduction steps

Run the following code:
[code]

Observed behavior: The outgoing API request **does not** have the `isIsolated` field.
Expected behavior: The outgoing API request **does** have the `isIsolated` fi

[2021-01-09 14:44] #191 closed

[2021-01-15 03:22] jonathanchoo519 opened #200 "There no function WsContinuousKlineServe in future package?"
Hi adshao,why the WsContinuousKlineServe function miss in future package?

[2021-01-15 05:14] #200 closed

[2021-01-26 03:06] ross-hugo opened #206 "Issues using keepAlive"
I am attempting to use the websocket wrapper to retrieve kline data from multiple symbols. I try to set the WebsocketKeepalive to true and keep the WebsocketTimeout to the default one minute. I successfully receive the kline data, however after 2 minutes sockets are closed.

The error I am given is "use of closed network connection."

Does anyone know where I am going wrong? Or is there a problem

[2021-01-26 05:57] dohki commented on #175
Why don't we merge this? Could you make a PR?

[2021-01-26 06:01] dohki commented on #175
If you don't mind, I'll restructure them in an appropriate place and make a PR.

[2021-01-26 06:17] Denton-L commented on #175
Yes, please do. I don't have the time to push this all the way to the finish line so I'd love it if someone took over.

[2021-01-31 01:39] #155 closed

[2021-01-31 10:54] Eren5960 opened #210 "Filter failure PERCENT_PRICE"
Sometimes I got errors, like:
```panic: can't fucking buy: <APIError> code=-1013, msg=Filter failure: PERCENT_PRICE, price=0.486690, buy=0.486690```

[code]

[2021-01-31 10:58] Eren5960 commented on #210
and
`panic: can't fucking sell: <APIError> code=-1013, msg=Filter failure: PRICE_FILTER, price=0.491420, sell=0.491375`

[code]

[2021-02-01 07:04] Eren5960 commented on #210
It's solved when I use a price above 10$ and don't multiply with quantity in price.

[2021-02-01 07:04] #210 closed

[2021-02-03 14:38] en0ma commented on #206
@ross-hugo increase the timeout to say `binance.WebsocketTimeout = time.Second * 100`

[2021-02-07 23:05] #145 closed

[2021-02-13 03:06] cconover opened #216 "Add support for Binance.US"
Since [US users cannot use binance.com anymore](https://in.finance.yahoo.com/news/binance-finally-blocks-united-states-115803718.html) and instead must use [https://www.binance.us](https://www.binance.us), can you add support for their API URL as well?

[2021-02-13 11:35] Drathveloper opened #217 "Generate new release"
Hello,

Could you generate a new tag with a new version? I'm interested in the testnet stuff you added recently.

Thanks in advance

[2021-02-13 17:44] rodsher commented on #217
Hello! I'm also interested in the testnet feature. Can I help with a new release?

[2021-02-14 00:00] phea opened #219 "Testnet Stream Websocket Endpoints not receiving events."
When setting `binance.UseTestnet = true` the public streams do not receive any events.

[code]

[2021-02-14 00:21] adshao commented on #216
Could you try to set base url? ```client.BaseURL = "https://www.binance.us"```

[2021-02-14 00:25] adshao commented on #217
Done, just add a new tag v2.2.1. Let me know if there is any problem.

[2021-02-14 00:25] adshao commented on #217
Please use v2.2.1. Let me know if there is any problem.

[2021-02-14 10:01] rodsher commented on #219
Hi! I have tested the method `binance.WsTradeServe` with the symbol `BTCUSDT`. Events come but rarely. Please, try to launch the program and wait 15-30 minutes.

[2021-02-16 20:24] cconover commented on #216
Looks like that works, thanks! I must've missed that in the docs 🙃

[2021-02-16 20:24] #216 closed

[2021-02-19 02:13] elboletaire commented on #219
You can also produce your own events trading on your own.. is how I did test it by myself last time in the testnet, otherwise it's completely flat.

[2021-02-19 21:32] rodsher commented on #217
@adshao You can close issue. Version released.

[2021-02-19 21:41] #217 closed

[2021-02-21 14:20] elboletaire commented on #206
I'm having similar issues these days, but with the user stream. I've had a bot running for the past year with the v1 of this library without the keepalive even being enabled and since 3 or 4 days ago the app just stops receiving events.

Anyone else can confirm? 😕

[2021-02-21 16:55] elboletaire commented on #169
Now that there are new api clusters deployed (and with the multiple connection problems these days due to the shutdowns in USA), I think it's a great moment to pump this up :)

You can find the new clusters in the following urls:

https://api1.binance.com/api/v3/ping
https://api2.binance.com/api/v3/ping
https://api3.binance.com/api/v3/ping

[2021-02-24 13:32] #189 closed

[2021-02-24 15:36] elboletaire commented on #206
HHmmm.. checking the code I see that the `keepalive` code actually doesn't make the proper keep alive call, is that correct?

With the proper keepalive call I mean this one: https://github.com/adshao/go-binance/blob/76a69bcd89340b7702ec1ee3b22787910dc44f76/v2/user_stream_service.go#L44

I guess I'll need to properly call keepalive in a loop so it properly maintains the connection, but then I don't

[2021-02-27 19:25] zubovdev opened #221 "Type error in AssetDetail"
json: cannot unmarshal number into Go struct field AssetDetail.assetDetail.minWithdrawAmount of type string
Binance return value of type float.

[2021-02-27 19:33] zubovdev commented on #221
Done! I'm ready to push. Tests was passed.

[2021-02-28 05:17] Gilgames000 opened #223 "Price is zero in order response and can't get order because it doesn't exists"
Hi! If I do this
[code]
the order gets filled, but `order.Price` is always `0.00000000` (all the other fields look good). So I thought, well I could just fetch the order and check the price from there:
[code]
and I get back `<APIError> code=-2013, msg=Order does not exist.`. I also tried with `OrigClientOrderID` instead of `OrderID`, same result. What am I doing wrong?

[2021-02-28 09:57] vladimirfilin commented on #223
Hi!

This is normal for market orders .OrderTypeMarket
This is not explicitly stated in the documentation, but is mentioned in the examples to [New Order (TRADE) POST /api/v3/order](https://binance-docs.github.io/apidocs/spot/en/#new-order-trade)
You can get full information from order transactions from [Account Trade List (USER_DATA) GET /api/v3/myTrades](https://binance-docs.github.io/apidocs/sp

[2021-02-28 20:30] Gilgames000 commented on #223
Oh, I see, thanks! So is there any way to get the price from the order response you get from the GetOrderService execution without having to make another request? I mean, I could just iterate through the fills and calculate the average buy price, but do I have the guarantee that the order response for a _buy market order_ contains all of the fills when I get it (i.e. the order is completely filled

[2021-03-01 05:12] Timouri opened #224 "Position Information V2"
How can i perform this request?
https://binance-docs.github.io/apidocs/futures/en/#position-information-v2-user_data

[2021-03-01 11:17] vladimirfilin commented on #223
Exact answer can only be given by BINANCE developers. I'm not one of them. My understanding: if at [New Order (TRADE) POST /api/v3/order](https://binance-docs.github.io/apidocs/spot/en/#new-order-trade) at Response FULL the "status": "FILLED", then "fills": [...] must contain all order transactions.

Just in case. The transaction [fee can be charged in BNB](https://www.binance.com/en/support/artic

[2021-03-01 12:13] Gilgames000 commented on #223
Oh, my question wasn't actually about whether or not an order response with status FILLED would return all the fills, but rather if the order response of a buy market order is guaranteed to return with the status FILLED (i.e. if it either gets filled before returning or it fails).

As of now, I'm using BNB for fees because this way I can just get my coin balance and sell all of it without having t

[2021-03-03 00:54] #223 closed

[2021-03-07 12:31] moartinz opened #226 "Websocket data stream stuck to"
Hi guys,
I am using the websocket connection for screening current price on BTC markets/pairs.
I am noticing that after the program starts the data stream works fine for a little bit but after a little while the price streams gets stuck to a value, not changing over time. In Binance orderbook (opened in a side window) it changes quite rapidly.

Anyone faced this issue already? Any hint on what can

[2021-03-13 17:37] phea commented on #226
What is a little while? According to the Binance API documents, they will close the websocket connection after 24 hours.

You can try setting the package level flag WebsocketKeepalive to true.

[code]

https://pkg.go.dev/github.com/adshao/go-binance?utm_source=godoc#pkg-variables

[2021-03-14 12:15] zhouziyan opened #227 "unexpected EOF issue"
I saw this error occasionally. It could happens on all APIs.
e.g.:
Post "https://api.binance.com/api/v3/order?timestamp=1615723310409&signature=6101ed79a0658415b789d4cbf8ff4a4e8289682f2464fd111663bdc387b0fef5": unexpected EOF

[2021-03-14 18:46] oguzdelioglu opened #228 "Long Position TakeProfit Error"
I am trying to create a Futures Long position but it gives an error.

This is what I'm trying to do: https://prnt.sc/10ljap5

The codes I use.
`order, err := clientFutures.NewCreateOrderService().Symbol(config.BaseAsset + config.QuoteAsset).
Side(futures.SideTypeBuy).
PositionSide(futures.PositionSideTypeLong).Type(futures.OrderTypeTakeProfit).
TimeInForce(futures.TimeInForceTypeGTC).Quantity(tota

[2021-03-16 05:51] #228 closed

[2021-03-16 06:13] oguzdelioglu opened #229 "I want to add stop loss to the futures trade."
I want to create 2 orders as stop and trailing stop for a futures trade that I have created.

The orders created with the codes I wrote continue to stay in the order section when I close the position.

But I want to create stop and trailing orders in a position dependent manner.

When I close the position, I want all orders to be canceled.

The orders I make on the site are automatically deleted w

[2021-03-16 07:41] #229 closed

[2021-03-16 12:39] #221 closed

[2021-03-16 12:41] adshao commented on #224
Hi @Timouri , please use `client. NewGetPositionRiskService().Do(ctx)`

[2021-03-16 13:33] adshao commented on #227
Could you enable debug flag to show more info of this issue? `client.Debug = true`

[2021-03-16 22:58] phea commented on #226
Update. I too experienced disconnects even though I have set the keepalive flag to be true. I reread Binance's API and I guess they mean that they will disconnect you after 24 hours, no matter what. This means you have to monitor the returned `doneC` channel for disconnects.

My solution was just to fire a goroutine to monitor each doneC.
[code]

[2021-03-17 03:58] zhouziyan commented on #227
will update state when I got debug log.

[2021-03-20 10:26] zhouziyan opened #230 "The mark price from websocket is not same with exchange's"
[code]

functions:
WsMarkPriceServeWithRate()
WsAllMarkPriceServeWithRate()

Try to print returned MarkPrice, then found the mark price is not same with exchange.
Also tried with another ws tool. Binance's ws interface works well.

[2021-03-21 01:13] zhouziyan commented on #230
https://github.com/adshao/go-binance/pull/232

[2021-03-22 08:02] zhouziyan commented on #230
Issue fixed. Close this.

[2021-03-22 08:02] #230 closed

[2021-03-23 03:27] zhouziyan opened #234 "If we need to handle the ping in go-binance?"
According to binance's doc:

[2021-03-29 18:20] jon4hz commented on #226
Hi, I'm currently facing the same problem but I get a few errors with your code. I'm fairly new to golang and kinda lost. Somehow I get an "undeclared name" error for `monitorWS`, `books` and `OrderBook`. Could you help me out to get this working. Stable and automatically reconnecting websockets are necessary for my project.

[2021-03-30 04:05] al-mahd opened #239 "certificate is valid for"
trade_test.go:20: Get "https://api.binance.com/api/v3/account?timestamp=1617077069735&signature=15b8726d6c363fbb4d5301ba5a2b180886481de85edb76682fc91d44ec7ff84e": x509: certificate is valid for *.uzone.id, uzone.id, not api.binance.com

[2021-03-30 07:35] al-mahd commented on #239
This issues already fixed. In indonesian by default the domain is blocked.
![Screen Shot 2021-03-30 at 14 33 16](https://user-images.githubusercontent.com/60496481/112950843-eb937a00-9164-11eb-90ee-0c87fe0ced12.png)

[2021-04-01 12:53] grishinsana commented on #234
gorilla websocket package sets ping handler by default

[2021-04-04 02:36] turbochoo opened #241 "go get fail"
go get github.com/adshao/go-binance                                                    1 

go: downloading github.com/adshao/go-binance v2.2.0
go get: zip for github.com/adshao/go-binance@v2.2.0 has unexpected file github.com/adshao/go-binance@v0.0.0-20201230145446-a4e015801a29/.codecov.yml

[2021-04-04 02:40] #241 closed

[2021-04-05 14:33] CodyGuo commented on #224
https://github.com/adshao/go-binance/blob/master/v2/futures/position_risk.go#L17
[code]
当前不支持v2版本接口，能否支持一下？

[2021-04-05 16:57] phea commented on #226
@jon4hz `books` and `OrderBook` are just my own structs that hold OrderBook and symbol information. You will have to customize my code example for your own code. The main takeaway is to launch a goroutine for each doneC channel to monitor when binance drops the websocket connection.

If you haven't already done so, I suggest going through the golang tour at https://tour.golang.org to better unders

[2021-04-13 19:58] aleibovici commented on #29
@adshao your project has been a tremendous help. Much appreciated. I recently started seeing many "websocket: close 1008 (policy violation): Pong timeout" messages. I see that this case is closed, but I wonder if this is something you or anyone else is seeing. My code simply restart the a Websocket, but I wonder if I should be doing something diferent.

[2021-04-13 21:02] aleibovici commented on #227
I see the same error occasionally "websocket: close 1006 (abnormal closure): unexpected EOF"

[2021-04-18 02:16] aligurelli opened #246 "how to get specific time price"
is there a way to get spesific time price?

[2021-04-21 08:24] jokaorgua opened #248 "How to use one websocket connection for several coins?"
Hello.

Due to the code to get real time prices I should use WsKlineServe function. This function creates new connection for every coin and interval. So if I have to monitor 150 coins on 5 intervals the lib will create 750 connections? Seems to me binance will ban for that :(

Is there any way to use https://github.com/binance/binance-spot-api-docs/blob/master/web-socket-streams.md#live-subscribin

[2021-04-21 08:27] jokaorgua commented on #248
found a solution here https://github.com/adshao/go-binance/pull/243

[2021-04-21 11:26] jon4hz commented on #226
Hey, sorry to bother you again. In the mean time, I improved my go skills a bit (at least I think so).
But something in your code is still bothering me. Did I understand it correctly, that your code only reconnects once? And if the reconnect attempt fails (WsAggTradeServe returns an err), it stops because you have a return when you check for the err in your monitorWS function?

[2021-04-22 08:10] en0ma commented on #246
@aligurelli can you add more context to your question?

[2021-04-22 16:52] jon4hz commented on #226
So I did a little testing and came to the conclusion that @phea only reconnects the websockets once, if the fail because the internet connection cuts for example.

To reconnect *always* I added a for loop which only ends, if the error is nil.

[code]

[2021-04-23 00:45] jon4hz commented on #206
I don't think the problem is keepAlive. I tested it today and for me it worked as expected. When I started a websocket and then manually cut the network connection, the websocket tried to send a PONG after the time set in keepAlive and detected, that the connection was gone.

@elboletaire keepAlive seems to get called here:
https://github.com/adshao/go-binance/blob/b7139701aac35c71f32e1a107917b1b7

[2021-04-23 00:57] elboletaire commented on #206
@jon4hz check the code of that `keepAlive` function and you'll see that it does not follow the binance documentation. As I said, I ended up adding a custom goroutine calling `NewKeepaliveUserStreamService` and passing it the key obtained from the `NewStartUserStreamService`, which properly fixes the issue.

[2021-04-23 01:31] jon4hz commented on #206
But I agree with you. The method you pointed out doesn't seem to get called anywhere inside the package. Since it's written uppercase I somehow suspect that it's meant to be called from the application and not by the package itself, which seems rather odd.

[2021-04-23 08:24] en0ma commented on #206
@elboletaire @jon4hz first off, for this issue, please ignore my comment here https://github.com/adshao/go-binance/issues/206#issuecomment-772557843, I was mixing up the keepAlive (websocket ping) with the keyAlive (user stream).

I see now that you are talking about two different things. And yes, @elboletaire, this is the expected behavior - you are responsible for calling `NewKeepaliveUserStream

[2021-04-23 08:25] elboletaire commented on #206
I've actually been using this library for months and I know for sure I wasn't using keepalive until I started facing these problems, and it was working perfectly. So yes, I'm aware binance do not follow their own documentation in some cases.

Exactly. Yeah it's true my case is for user streams and I know it's different and the other case should be fine for non-user streams; but the issue title say

[2021-04-23 08:36] en0ma commented on #206
@elboletaire the `keepAlive` call in the websocket_service should be called for all websocket calls - that `keepAlive` is for the websocket protocol, to keep the connection open. But you still have to keep calling `NewKeepaliveUserStreamService` in a goroutine to tell binance you still want data - `NewKeepaliveUserStreamService` is not a websocket protocol dependency, it is binance requirement to

[2021-04-23 08:39] jon4hz commented on #206
I think creating a dedicated issue for that topic would be best.

@en0ma You are right but since this is a wrapper for that exact API there would be nothing wrong with doing such keepAlive (keyAlive) calls under the hood, too.

[2021-04-23 08:43] en0ma commented on #206
Yeah, a new method (`WsUserDataServeWithKeepAlive`) could be added to do it, or the doc can be improved to show how to use  `NewKeepaliveUserStreamService` with `WsUserDataServe`

[2021-04-23 18:12] felipeneuwald commented on #248
You can use, e.g., `go get github.com/adshao/go-binance/v2@1e8028b94cc07e2e608ec01c11694610d953f851` until it is not released.

[2021-04-23 18:13] #248 closed

[2021-04-29 14:30] SegFault42 commented on #246
We would like to get the price of any PAIR at a specific timestamp.

In short, how we can get the price of the BNBBUSD at this timestamp : 1619692794756

[2021-04-29 19:56] onix3 commented on #246
[code]

[2021-05-06 12:44] #239 closed

[2021-05-09 06:40] turbochoo commented on #76
is solution in version 2?

[2021-05-13 13:42] TuringZhu opened #253 "missing Trade Fee (USER_DATA) API"
missing `GET /wapi/v3/tradeFee.html (HMAC SHA256)` and `GET /sapi/v1/asset/tradeFee (HMAC SHA256)` API

[2021-05-15 05:34] Turing-Chu opened #254 "json unmarshal error for NewListPricesService"
ouput error:
[code]

and api response some field:

[code]

it is betweer use string for minWithdrawAmount and withdrawFee field ,and deal with converting string to float64 by the developer

[2021-05-15 06:43] Turing-Chu commented on #254
this bug appeared in v2.2.1. after I checked master branch at [asset_detail_service.go#L36](https://github.com/adshao/go-binance/blob/master/v2/asset_detail_service.go#L36) and test whit MinWithdrawAmount float64 ,it is ok.

[2021-05-15 06:43] #254 closed

[2021-05-17 14:42] sinsombat opened #255 "AssetDetail.MinWithdrawAmount"
json: cannot unmarshal number into Go struct field AssetDetail.assetDetail.minWithdrawAmount of type string

[2021-05-18 12:52] sbrajchuk opened #257 "Support for quoteOrderQty in CreateMarginOrderService"
Setting quoteOrderQty is not implemented in CreateMarginOrderService although according to https://binance-docs.github.io/apidocs/spot/en/#margin-account-new-order-trade it is possible to set it.

[2021-05-24 10:55] zamrih opened #259 "Ability to set, add or replace custom request headers sent to binance"
The related use cases are a bit specific but this is crucial with the use of reverse proxies, load balancers and service meshes.
A PR addressing this is following along.

[2021-05-25 06:23] #257 closed

[2021-05-25 09:47] #259 closed

[2021-05-26 16:12] klouskingsley opened #261 "how to / can't use Do(ctx context.Context, opts ...RequestOption)"
I want set some extra params for the request, because the `RequestOption` type is

[code]

so my code is

[code]

but I got the error

[code]

how do I write the right way to use RequestOption?

[2021-05-27 02:12] Dashift commented on #261
This is one of the go design style called "functional-options"

It usually write like this:
[code]

The func `WithSomeOpt1()` and `WithSomeOpt2()` will in same package as the client you are using

more informations:  https://github.com/uber-go/guide/blob/master/style.md#functional-options

[2021-05-29 13:43] klouskingsley commented on #261
Thanks @Dashift , learn a lot from u ~

[2021-05-29 13:43] #261 closed

[2021-05-31 13:42] #224 closed

[2021-05-31 13:43] #70 closed

[2021-06-02 16:03] sbrajchuk opened #265 "Query OCO not implemented"
[https://binance-docs.github.io/apidocs/spot/en/#query-oco-user_data](https://binance-docs.github.io/apidocs/spot/en/#query-oco-user_data)

[2021-06-04 09:22] CharonShen opened #267 "Found a bug in ExchangeInfoService"
When I use Symbols(), I get the following error:
“<APIError> code=-1100, msg=Illegal characters found in parameter 'symbols'; legal range is '^\[("[A-Z0-9-_.]{1,20}"(,"[A-Z0-9-_.]{1,20}"){0,}){0,1}\]$'.”

[2021-06-04 12:51] Martin2877 commented on #76
This is my solution.

[code]

[2021-06-09 14:20] DevRadion opened #270 "status 400: {"code":-1022,"msg":"Signature for this request is not valid."} after I try to get info about account"

[2021-06-10 08:31] ismarnext opened #271 "Websocket Stream disconnects immediately"
When I launch a webstream using the example as is or even after not using stopC the websocket connection closes after printing one or a couple of messages from the server. I have tried many variations to keep the connection alive but no use.

[2021-06-11 05:15] ImanHz opened #272 "Using recvWindow parameter"
In the API docs we have:

Is there any way to set this value in this library?

[2021-06-13 14:26] ismarnext commented on #271
Looks like this is not an issue.

[2021-06-13 14:26] #271 closed

[2021-06-16 03:51] lxt1045 opened #273 "On August 01, 2021 02:00 AM UTC the WAPI endpoints will be discontinued"
https://binance-docs.github.io/apidocs/spot/en/#change-log

The WAPI endpoints have been removed from Binance API Documentation.To ensure your trading strategies are not affected, all API users are encouraged to upgrade trading bots to SAPI endpoints as soon as possible.

[2021-06-16 07:02] adshao commented on #272
Please add WithRecvWindow to the Do() function, for example:
[code]

[2021-06-16 20:01] #272 closed

[2021-06-18 21:26] boskiv commented on #97
@0cv can you please provide an example how to use it with go-binance?

[2021-06-21 08:47] 0cv commented on #97
@boskiv
Something like

[code]

Then before every call to the API, you exec `checkRateLimit`
[code]

But from my experience, maybe I was doing something wrong or something was not correct on Binance side, but the practical limits were not really the same as the theoretical limits (1200 per minute). It's a long time I've not used it, but I think I had something around 900 or 1000 for `weightMaxPerM

[2021-06-21 10:32] Qasemt opened #275 "WsCombinedKlineServe websocket"
hi :)
**WsCombinedKlineServe** does not work for multiple symbol
tanx
![image](https://user-images.githubusercontent.com/2597895/122748162-222eeb80-d2a1-11eb-81e1-85671c49fb61.png)

[2021-06-21 10:35] Qasemt commented on #275
only first symbol (btc) arrive from webservice

[2021-06-21 13:34] #270 closed

[2021-06-24 08:38] stevenkitter commented on #253
yes i think so you guys do not use these?

[2021-07-03 06:58] pooyakn commented on #273
any update on this?

[2021-07-03 17:29] RoanBrand commented on #273
Just searched explicitly for this, need SAPI implementation asap.
I can try implement and make PR for it if it will be considered?

[2021-07-03 21:00] pooyakn commented on #273
A pull req was created 3 month ago and it's not merged yet.
https://github.com/adshao/go-binance/pull/247

[2021-07-06 06:16] adshao commented on #273
Yes, really appreciate if you can create a PR for it.

[2021-07-06 06:18] adshao commented on #273
This PR is out of date and does not pass the Travis CI check.

[2021-07-07 11:59] shanewright opened #280 "trade_service missing from delivery APIs"
Hi

Support for recent/historic/aggregated trades is present for the futures package, but not for the delivery (COIN-M) package, the Binance APIs are almost identical..
https://binance-docs.github.io/apidocs/futures/en/#recent-trades-list
https://binance-docs.github.io/apidocs/delivery/en/#recent-trades-list

The relevant code/API is present here for futures:
https://github.com/adshao/go-binance/b

[2021-07-15 14:41] adshao commented on #273
I have changed wapi to sapi in #282 , please use v2.3.0.

[2021-07-15 14:41] #273 closed

[2021-07-16 07:10] kunsonx opened #283 "Futures API missing: batched order open."
Hi there.

I was trying to use futures batched open orders. But it seems not implements in SDK.

Should we add it to support?

binance futures documentation reference: https://binance-docs.github.io/apidocs/futures/cn/#trade-5.

[2021-07-17 08:07] Milerius opened #284 "this package doesn't work in wasm"
<img width="543" alt="Capture d’écran 2021-07-17 à 10 04 50" src="https://user-images.githubusercontent.com/21139416/126030647-dc906297-75d2-4d27-a606-e8ba3eb0094c.png">

I think websocket in the browser should work - why it is not the case ? (gorilla doesn't support wasm)
https://github.com/gorilla/websocket/issues/432

https://github.com/nhooyr/websocket it's seems supported on this package, w

[2021-07-17 10:43] Milerius commented on #226
Why not simply do:

[code]

?

[2021-07-27 13:23] adshao commented on #284
Hi @Milerius , I think it's ok to use https://github.com/nhooyr/websocket instead of gorilla websocket, do you want to submit a PR for it? or I'll try to implement it in next month.

[2021-07-27 13:58] Milerius commented on #284
I have a working implementation on my machine i can submit a patch this week

[2021-07-29 17:12] Milerius commented on #284
Thanks for the merge @adshao

[2021-07-29 17:12] #284 closed

[2021-07-30 21:15] tomas-kucera opened #291 "Spot NewCreateOrderService incorrect values in response"
Just playing with the trading methods of go-binance against testnet  for spot markets.

If I make a market order, then I do not get anything in the price, just in the CummulativeQuoteQuantity. If I do limit order, I get both.

Shouldn't it also return the price for Market Orders?

[2021-08-09 13:11] ioogle opened #295 "Unknown error, please check input."
I want to get the liquidated orders from the past year:

[code]

But sometimes when I execute the function above,  ① will turn out an error, the error code is `0`, and the error message is `Unknown error, please check input.`, and not able to find this error in both of the API website and this package.

[2021-08-11 07:26] ioogle opened #296 "how to setup a websocket stream to get detailed income notification in futures?"
There exists a Websocket endpoint to get balance changing information([Event: Balance and Position Update](https://binance-docs.github.io/apidocs/futures/en/#event-balance-and-position-update)), but the information is too simple to use:

[code]

In the Restful API, you provide an endpoint [Get Income History(USER_DATA)](https://binance-docs.github.io/apidocs/futures/en/#get-income-history-user_dat

[2021-08-18 08:11] halink0803 commented on #107
It seems like you got the WsUserDataServe to work? How can you get the listenKey for it? I take a look at the StartUserStreamService but it does not implemented the New function :-/

[2021-08-19 08:17] halink0803 commented on #107
Nevermind, I miss read the part of creating NewStartUserStreamService, it works fine.

[2021-08-25 06:19] #296 closed

[2021-08-31 09:01] marvin-hansen commented on #275
Start multiple socket streams for multiple symbols as shown in below.
Note, if you want to stop data streams per symbol,
 then you have to track each close channel individually and implement a stop stream method.

![image](https://user-images.githubusercontent.com/24190940/131474115-26fa820a-9fc4-4674-a97d-15b3a43e7ed5.png)

[2021-09-01 18:12] frostrock7 opened #304 "Missing API Key Permission USER_DATA API"
Missing GET` /sapi/v1/account/apiRestrictions (HMAC SHA256)

Very usefull for checking before trading for example.

[2021-09-03 08:13] gsjohn opened #305 "delivery AccountPosition miss positionAmt"

[2021-09-05 08:29] kunsonx commented on #304
@Antohny-frost https://github.com/crypto-zero/go-binance

[2021-09-08 02:58] guotie opened #307 "fasthttp support?"
use fasthttp to improve performance?

[2021-09-23 11:51] Go36625090 opened #310 "Why ? msg=Signature for this request is not valid"
<nil> <APIError> code=-1022, msg=Signature for this request is not valid.
<APIError> code=-1022, msg=Signature for this request is not valid.

code:
`
import (
	"context"
	"github.com/adshao/go-binance/v2/delivery"
	"github.com/adshao/go-binance/v2/futures"
	"github.com/hashicorp/go-hclog"
)

client := delivery.NewClient(cfg.Account.Key, cfg.Account.Secret)

client.NewSetServerTimeService().Do(con

[2021-09-23 14:24] alienatorZ opened #311 "Binance US Websocket endpoint"
Can we get support for Binance.us for the Websocket as well?

Thanks!

[2021-10-04 13:55] ronyv89 opened #314 "Not providing All Coins' Information"
You guys are not providing the **All Coins' Information** api `GET /sapi/v1/capital/config/getall`. Can you add support for this?

[2021-10-05 12:54] icamys commented on #267
@CharonShen Just encountered the same issue. Did you found any ideomatic solution?

[2021-10-13 01:53] #267 closed

[2021-10-30 19:04] boskiv commented on #31
I have a same issues with 2.3.1 and 2.3.2 version
[code]
But positions closing after, just a weird messages in logs

[2021-10-30 19:05] boskiv commented on #31
[code]

[2021-11-03 13:58] adshao commented on #31
Seems it's a server side error.

[2021-11-03 15:43] boskiv commented on #31
Yes, but it happens every time when I close my orders.

[2021-11-03 15:44] boskiv commented on #31
Did you see something unusual in my code example ?

[2021-11-09 16:31] XanderShum opened #321 "There are some problems between nhooyr/websocket package and Binance WebSocket API."
I ran into the same problem as follows:
https://github.com/nhooyr/websocket/issues/315

I think this is a problem we need to pay attention to. Obviously there are some problems with nhooyr/websocket.

[2021-11-09 16:33] XanderShum commented on #321
@adshao

[2021-11-10 17:17] adshao commented on #321
Thanks @XanderShum , I'll try to reproduce it.

[2021-11-12 11:08] sugardose opened #322 "Please bump the tag to 2.3.3"
There are recent updates that got merged and are not making it to golang proxy repositories because the tag did not get updated.

Example: https://github.com/adshao/go-binance/commit/7ef52655a5e54e1cde38d3120290712edd0e5e73

[2021-11-15 07:10] adshao commented on #322
thanks, I just pushed tag v2.3.3.

[2021-11-15 07:10] #322 closed

[2021-11-16 00:10] boskiv opened #323 "Running with --race raise a panic"
[code]

[code]

[2021-11-16 11:54] etkim7 opened #324 "AssetDetail type has changed from binance"
![image](https://user-images.githubusercontent.com/33079832/141980839-02014d42-352a-43ee-907a-70bcfb0618f0.png)
MinWithdrawAmount and withdrawFee should be string not float64 now.

[2021-11-16 15:00] tanakachitsamba commented on #200
was just wondering if this got solved because I can see it in the documentation but not the package

[2021-11-17 05:17] boskiv commented on #174
Hey, folk. What is a status of NewCreateBatchOrdersService? I'm trying to use it but it does not fill my orders
[code]

[2021-11-17 05:40] boskiv commented on #174
Errors are located in `rawMessages array, but it can't be unmarshaled to Order structure and no error about it. :(
![Screen Shot 2021-11-16 at 23 39 15](https://user-images.githubusercontent.com/1939783/142141454-2d3a65c5-4bed-44dc-97e0-7ab7694ad6db.png)
![Screen Shot 2021-11-16 at 23 39 11](https://user-images.githubusercontent.com/1939783/142141458-3ad827ed-d58c-42b1-8948-d87a75add844.png)

[2021-11-17 05:48] boskiv commented on #174
Maybe something like this should help
[code]

[2021-11-17 05:51] pla2aroi opened #325 "How to reconnect WsCombinedKlineServe do you have an example?"
How to reconnect WsCombinedKlineServe do you have an example?
`

want to send (symbols) new

symbols := []string{"BTCUSDT"}

		doneC, _, _ := binance.WsCombinedKlineServe(
			symbols,
			func(event *binance.WsKlineEvent) {
				if event.Time > 0 {
					fmt.Println(event.Symbol + " price = " + event.Kline.Close)
				}
			},
			func(err error) {

			},
		)
		<-doneC
`

[2021-11-17 05:57] boskiv commented on #174
@adshao

[2021-11-17 06:09] #325 closed

[2021-11-17 16:01] #324 closed

[2021-11-17 16:03] adshao commented on #324
Hi @etkim7 , I have fixed it in #329

[2021-11-27 18:54] bokyu93 opened #331 "100ms updates for WsCombinedDepthServe"
Can you add feature that support 100ms updates for WsCombinedDepthServe doing like WsDepthServe100Ms?

[2021-12-08 08:10] guillaumecodet opened #332 "futures.WsAggTradeServe not returning data"
Hello,
I'm trying to get the trades from the binance futures, but I'm not getting any.

[code]
I tried `BTCUSD_PERP` and also `BTCUSD`, but same result.

Thank you for your help.

[2021-12-08 10:11] guillaumecodet commented on #332
The correct value should be `BTCUSDT`, which is a bit strange because the symbols from https://dapi.binance.com/dapi/v1/exchangeInfo doesn't include the `T`

[2021-12-08 10:11] #332 closed

[2021-12-10 09:29] pdemaio opened #333 "Use binance.WsUserDataServe does nothing"
Hi I tried the example from the readme (where wsHandler has wrong parameter as it's expected to be *binance.WsUserDataEvent) but nothing happens. I tried with prod and testnet creating trades and cancelling them o trying to get filled (by TP or SL) and no event was reported by my app. Am I missing something? does the example needs something else?

[2021-12-12 18:26] pdemaio commented on #333
I found out I was using the wrong WS, futures WS is called differently (found digging around pr's as is not documented).

[2021-12-12 18:26] #333 closed

[2021-12-16 14:53] adshao commented on #174
sorry, I just found the @ . Yes, since Binance returned status code 200 for the failed request, so it did not try to convert response body to error. We should retry to convert to error if it failed to convert to Order.

[2021-12-16 15:16] adshao commented on #321
@XanderShum  Hard to reproduce, is there any suggestion for this issue? I found https://github.com/nhooyr/websocket is not actively maintained now, should we change to use the dev branch of nhooyr/websocket, or revert the pr #290 ?

[2021-12-18 21:26] ArminEbrahimi commented on #321
@adshao @XanderShum Would you please revert the pr #290 ?

[2021-12-18 23:34] XanderShum commented on #321
@adshao My current solution is to use the dev branch of nhooyr/websocket, but it's not perfect.

[2021-12-25 09:45] c9s opened #335 "Apply requestgen to the requests"
Hello @adshao,

I found you're using the cascading pattern for the request call for the whole binance library, I think you might be interested in this.

https://github.com/c9s/requestgen

I also like your cascading pattern calls for the binance API, so I wrote a tool to generate the accessor methods from the struct, this way you can generate the requests very easy.

This tool is used in bbgo (http

[2021-12-25 11:49] adshao commented on #335
Hi @c9s , [requestgen](https://github.com/c9s/requestgen) is so cool, actually the plan of go-binance v3 is also to use generation tool to automatically generate most of the SDK code. I think v3 can reuse your work.

[2021-12-25 15:11] c9s commented on #335
That's great! Looking forward to hearing the feedback from you :)

[2021-12-29 08:53] c9s commented on #335
FYI, Just added more features in requestgen https://github.com/c9s/requestgen

[2022-01-10 17:10] c9s commented on #335
@adshao I can send a pull request for integrating this if you want.

[2022-01-17 22:22] gutofurlan opened #339 "call in sequence"
good night,

I need to call 3 buy and sell orders in sequence, all market orders.
Is there a way to do this?
I buy one coin, then I buy another, and then I buy another.

How do I guarantee that the order was carried out?

thanks

[2022-01-25 13:06] ljubomirb opened #341 "ws order vs order consistency"
If I could have two suggestion, it would be:
- if naming could be more in tune with binance naming (that is for sure cryptic itself to non trader, but nevertheless, one needs to look at there because it is somewhat better documented)
- and also - if everything can be somewhat more "standardized". Like, for example - "orders"
Here you have two things that come from different places (REST and WS). N

[2022-01-26 16:49] adshao commented on #339
Do you mean the batch orders? You can use GetOrderService to check order status.

[2022-01-26 16:51] adshao commented on #335
It's great, we can discuss the pr, will you break the compatibility? If yes, we should move it to v3.

[2022-01-26 16:52] adshao commented on #335
@c9s could you describe the work you will do?

[2022-01-26 22:55] c9s commented on #335
I would like to make it backward compatible

But I need to have a PoC first, and see if we can do it in v2, what do you think?

[2022-01-27 23:16] boskiv commented on #275
Working well as today
[code]

[2022-01-28 02:52] adshao commented on #335
We can do it in v2 as long as it's backward compatible

[2022-02-08 04:54] guillaumearnould opened #343 "Create OCO in Margin Isolated"
Hi,

It seems that current `CreateOCOService` doesn't allow to create OCO for Isolated margin ?
(By setting isIsolated param to `TRUE`)

[2022-02-08 05:13] guillaumearnould commented on #343
@adshao  Could you please give me permission to push new feature branch, so I could create a pull request ?

[2022-02-08 14:28] ljubomirb opened #344 "ERROR: -1021, Timestamp for this request is outside of the recvWindow."
Hi,
I received this error, but it is not happening every time, and it probably happens when I give order. I only guess, since error did not show up until today, so it's hard for me to find it. But, as for google tells me, it is probably because computer time and binance time are different as explained [here](https://dev.binance.vision/t/error-timestamp-for-this-request-is-outside-of-the-recvwindow

[2022-02-08 20:50] ljubomirb commented on #344
Ok, so I think I've found a way to push `WithRecvWindow` option, hope I'm doing it right.
So, order might now look something like this:
[code]

[2022-02-08 21:11] #343 closed

[2022-02-08 21:18] guillaumearnould commented on #343
My bad I used the wrong class.

Thanks for your excellent work!

[2022-02-09 03:36] adshao commented on #344
Hi @ljubomirb , You are right, `RecvWindow` should be passed in `Do(ctx, options...)`. Currently there is not global recvWindow since not every API needs it.
It is recommended that you should keep your host time synced with binance server.

[2022-02-09 03:44] guillaumearnould opened #345 "Create Margin OCO"
Hi, I couldn't find any method to create an OCO in Margin (crossed or isolated).

Did I miss it or should I add it?

[2022-02-09 03:50] adshao commented on #345
It's not supported yet, could you fork the repo and create a pull request to add OCO services?

[2022-02-11 00:42] guillaumearnould commented on #345
Created PR #346

[2022-02-13 05:08] #345 closed

[2022-02-14 15:27] Kareem21227gg commented on #265
@sbrajchuk  did you implement it?

[2022-03-07 12:44] ArminEbrahimi commented on #321
Any Updaye? @adshao #BlockingIssue

[2022-03-09 22:58] gutofurlan opened #351 "Websocket Error"
Good night,
I'm having an error when getting data from the websocket, the value takes a long time to come and when it comes it usually comes 0.
This error started to occur +- 2 days ago...
Would anyone know the reason?
thanks

My code websocket:
`doneC, stopC, err := binance.WsDepthServe(bulk, wsDepthHandler, errHandler)`

My bulk is: RAREBUSD, RAREBTC

[2022-03-10 17:54] #351 closed

[2022-03-12 15:59] drinkthere commented on #305
AccountPosition miss positionAmt

[2022-03-14 03:58] njmdk opened #356 "missing API User Commission Rate(/fapi/v1/commissionRate)"
missing API User Commission Rate

[2022-03-14 12:53] #344 closed

[2022-03-14 12:54] adshao commented on #321
I'll change  nhooyr/websocket to dev branch

[2022-03-15 00:46] adshao commented on #321
I'm reverting #290 in #357

[2022-03-15 00:49] adshao commented on #321
@ArminEbrahimi @XanderShum nhooyr.io/websocket is reverted to github.com/gorilla/websocket, let me know if there is any problems, thanks.

[2022-03-15 00:49] #321 closed

[2022-03-22 08:44] jinson226 commented on #76
very useful thx!!

[2022-04-05 14:46] #253 closed

[2022-04-08 02:53] sutapurachina opened #362 "Reader error during websocket connection"
Hello!

My program needs to get prices and trades info by websocket. It works just fine for couple of days but then occasionally I get this error: [failed to get reader: received close frame: status = StatusGoingAway and reason = "". ]This error is created in WsBookTickerServe or in WsUserDataServe. I update websocket connection every 15 minutes.  Please help, struggling with this for weeks...

[2022-04-14 15:46] xiongbenwu opened #364 "How to reconnect ws"
How to reconnect ws

[2022-04-21 11:08] #362 closed

[2022-04-22 05:10] ajarac opened #366 "Websocket for binance futures"
Could you please add finance futures?

It's just a change of domain `wss://fstream.binance.com/ws/`

or be able to change the domain

Thank you!

[2022-04-24 19:57] developer2346 opened #367 "trailingDelta parameter"
Please add trailingDelta parameter for [NewOrder](https://binance-docs.github.io/apidocs/spot/en/#new-order-trade)

[2022-04-27 14:27] c9s commented on #335
or maybe you can also simply use my code :D

[2022-04-29 07:46] halink0803 commented on #304
@frostrock7 I think it is easy to create a PR to add this api.

[2022-04-29 07:48] #78 closed

[2022-05-11 03:14] crazygit commented on #364
@xiongbenwu

Issue #266 had the solution for reconnect ws

[2022-05-11 03:50] crazygit commented on #364
Here is a example

[code]

[2022-05-11 08:35] xiongbenwu commented on #364
tks

[2022-05-12 06:11] Icarus9913 opened #374 "order quantity precision issue"
I new an order with quantity two decimal point, but return me an error:

For example: my order is : quantity 428.94, future, LONG, BUY, OrderTypeMarket, Symbol:"FILUSTD"

It's very strange. Actually I think the server supports two decimal points for quantity.

[2022-05-12 06:11] Icarus9913 commented on #374
cc @adshao

[2022-05-12 13:05] adshao commented on #374
you should check asset precision in [exchangeInfo API](https://binance-docs.github.io/apidocs/spot/en/#exchange-information)

[2022-06-02 01:21] turbochoo commented on #175
json: cannot unmarshal object into Go struct field WsOrderTradeUpdate.o of type futures.OrderType

[2022-06-02 01:23] turbochoo commented on #175
utures.OrderType should be object ,no string in binance new api

[2022-06-02 07:51] TanjinAlam opened #378 "Unable to set testnet true for Websocket data pulling"
binance.UseTestnet = true
futures.UseTestnet = true

Helpts to enable testnet true for api data pulling but how to set testnet true for websocket

	wsHandler := func(event *binance.WsUserDataEvent) {
		fmt.Println(event)
	}
	errHandler := func(err error) {
		fmt.Println(err)
	}

	doneC, _, err := binance.WsUserDataServe("jMyAD5lUpokExjQY0y0XVfCUW9HaXHpiAE03jMEczVeuGexQLoHDIso6NlFrHy2B", wsHandler,

[2022-06-07 05:41] c9s commented on #335
@adshao I wrote a tutorial about the requestgen for the binance api.

https://github.com/c9s/requestgen-tutorial

[2022-06-10 07:10] blarsy opened #380 "Can't find a way to call /api/v3/ticker/price with multiple symbols"
I am struggling to find how to gather prices of multiple symbols (not all of them at once, as happens when providing no value to the "symbol" Api parameter). I did not find a related Github issue either.
As per https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md#symbol-price-ticker, it is possible on the Binance API's /api/v3/ticker/price endpoint through a "symbol**s**" param

[2022-06-15 07:56] GeorgeGkinis opened #382 "Missing quoteQty on Trade struct"
While using NewHistoricalTradesService() I stumbled on the issue that the quoteQty value of the returned trades is missing.

As mentioned at [https://binance-docs.github.io/apidocs/spot/en/#old-trade-lookup-market_data](https://binance-docs.github.io/apidocs/spot/en/#old-trade-lookup-market_data) the returned JSON is :

[code]

It is relatively easy to add it on the struct as I saw.

Should I make

[2022-06-15 09:12] qwa567 opened #383 "connection attempt failed"
`time="2022-06-15T17:09:21+08:00" level=error msg="Get \"https://api.binance.com/api/v3/klines?endTime=1655283600000&interval=1h&limit=1&startTime=1655283600000&symbol=ETHBUSD\": dial tcp 103.252.115.49:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respon

[2022-06-16 01:53] #383 closed

[2022-06-16 01:54] qwa567 commented on #383
has been resolved

[2022-06-18 14:10] #374 closed

[2022-06-18 14:16] Icarus9913 opened #384 "How to re-run websocket if it down"
I found you use for loop to traverse. But once it meet err the whole websokcetTick will down.
In this situation, how can we run it gain?

https://github.com/adshao/go-binance/blob/774259245842dd69ed7731d8ef09a772d9c837b0/v2/futures/websocket.go#L54-L63

[2022-06-18 14:16] Icarus9913 commented on #384
cc @adshao

[2022-06-18 14:58] Icarus9913 commented on #384
Can we use `continue` instead of `return` in line 60?

[2022-06-18 15:04] Icarus9913 commented on #384
This is my err log:

[2022-06-18 15:27] Icarus9913 commented on #384
In another way, we could add one boolean arg to check whether it should continue when it occurs an error.

[2022-06-26 19:19] saintmalik opened #385 "How to Implement the TestNet api for CreateOrderService"
Trust everyone is good, adding .Test(context.Background()) is not working

[code]

[2022-06-27 01:32] adshao commented on #380
Hi @blarsy , symbols is a new parameter introduced in [spot v3 API](https://binance-docs.github.io/apidocs/spot/en/#symbol-price-ticker), it's appreciated that if you could submit a pr to add it, or I'll add it later.

[2022-06-27 01:32] adshao commented on #382
Yes, really appreciated if you can submit a PR for it.

[2022-06-27 01:35] adshao commented on #384
It's impossible to break the loop if we use `continue`. Maybe you can just reconnect websocket from the first place to retry.

[2022-06-27 01:37] adshao commented on #385
Hi, what is the error return?

[2022-06-27 01:37] #364 closed

[2022-06-27 01:42] adshao commented on #378
Hi, `getWsEndpoint()` will return `baseWsTestnetURL` when `binance.UseTestnet = true`, is there any error message?

[2022-06-27 06:18] saintmalik commented on #385
[code]

[2022-07-01 01:02] #382 closed

[2022-07-01 01:06] adshao commented on #385
as the message said, `Test()` only return 1 value which is `error`, I think you use the statement:

[code]

please try to fix it like this:
[code]

[2022-07-01 03:03] saintmalik commented on #385
Thanks, it worked, but how do i check reponse of request validity?

[2022-07-01 12:46] adshao commented on #385
what do you exactly mean for 'response'?

[2022-07-01 12:57] blarsy commented on #380
Ok, will do.
It will be my first PR, but it's never too late to increase one's awesomeness ;-)

[2022-07-01 12:58] blarsy commented on #380
Oops, wrong button :-/

[2022-07-01 18:11] blarsy commented on #380
#388

[2022-07-04 07:05] TanjinAlam commented on #378
Yes, it does

[2022-07-13 11:23] snawaz commented on #29
this is because https://github.com/adshao/go-binance/pull/50 does not fix the problem, as it sends `ping` message whereas the client needs to send `pong` message. As the per the binance docs, it's the server which sends `ping` to the client and then if the client does not respond with a `pong` message within 10 mins, then the server will disconnect the connection.

[2022-07-15 00:57] gurkanguray commented on #384
@Icarus9913 your errHandler function should "handle" the error. If you want to reconnect immediately just reconnect it while error handling. Here is an example function:
[code]

[2022-07-26 14:25] tmors opened #394 "do we support perpetual continuous kline(websocket) ?"
I can't find the function of wss perpetual continuous kline(like WsKlineServe)

[2022-07-31 04:56] syzygy800 opened #397 "Update order struct"
It seems that Binance added two more attributes to their Order regarding their built-in strategies.
I notices it with the "grid bot" strategy. I am testing it right now with "[nefertiti](https://github.com/svanas/nefertiti)" although I have to wait till a order gets filled.
Was planing on doing a PR **if it works as expected**, however if you guys are planing on adding it or if you already have do

[2022-08-01 02:51] xiongbenwu opened #399 "WsAllMarkPriceServe"
WsAllMarkPriceServe not use

[2022-08-01 17:37] saintmalik commented on #385
just like there was fmt.Println(order), does that means i will check for error instead

[2022-08-01 18:54] saintmalik opened #400 "Trade Fee function"
Good day @adshao

How can i call and use the trade fee in orders?

[2022-08-03 15:55] saintmalik opened #401 "Create OrderType Market"
Hii @adshao , trust you are good.

is there a way to use price value to initiate a MARKET order instead of .Quantity Value?

[2022-08-03 16:14] saintmalik commented on #401
solved, i used the quoteOrderQty value 😁

[2022-08-03 16:14] #401 closed

[2022-08-04 16:39] tgbv opened #403 "Equivalent for GET /api/v3/ticker ?"
Is there an equivalent for `GET /api/v3/ticker` ?

[2022-08-05 16:22] tgbv commented on #403
Now we can use `client.NewListSymbolTickerService()` and interact with `ListSymbolTickerService`'s methods to fetch symbol's ticker data.

[2022-08-05 16:22] #403 closed

[2022-08-06 11:39] tgbv opened #406 "Custom windowSize for NewListSymbolTickerService"
We should be able to add a custom `windowSize` to `NewListSymbolTickerService`

Reference: https://binance-docs.github.io/apidocs/spot/en/#rolling-window-price-change-statistics

[2022-08-08 03:22] rodrigo-brito commented on #384
I used it with a channel wrapper, when it disconnects I use a backoff retry:
https://github.com/rodrigo-brito/ninjabot/blob/main/exchange/binance.go#L470-L514

[2022-08-09 18:05] tgbv opened #409 "Combined binance.WsTradeServe() ?"
Currently `binance.WsTradeServe()` pulls data for only one symbol. Is there a combined alternative like `binance.WsCombinedAggTradeServe()` ?

[2022-08-14 20:05] abrekhov commented on #310
Same issue.

[2022-08-15 13:22] #409 closed

[2022-08-28 10:24] gpmn opened #418 "/fapi/v1/account is replaced by /fapi/v2/account"
Hi,
   Our code should be upgrade too.

[2022-09-01 01:50] davidxiao opened #419 "how to validate min notional for spot trailing order?"
Hi,
    I am not sure if I understand correctly, for ALGO order, validating min notional uses spot price and quantity, but for trailing order, stop price is optional,

    So, how Binance validate min notional in this case/

Thanks

[2022-09-16 07:21] chenzebinm4 opened #423 "How to set take profit and stop loss at the same time when placing a futures order?"

[2022-09-21 11:21] krasi-georgiev opened #426 "<APIError> code=-1013, msg=Filter failure: MIN_NOTIONAL"
This error happens when trying to convert small amounts.

I imagine this limit is set on the binance API, but I can't see how to disable it.

Any ideas if this can be disabled or some workaround?

[2022-09-26 21:22] reg2005 commented on #331
You can use binance.WsDepthServe100Ms(Name, wsDepthHandler, errHandler)

[2022-10-12 05:47] amen160 opened #429 "How to set take profit and stop loss at the same time when create a futures order?"
Hi guy!
 How to set take profit and stop loss at the same time when create a futures order?
Thank.

[2022-10-12 05:52] amen160 commented on #423
How to set take profit and stop loss at the same time when creating a futures order?

[2022-10-19 03:59] guotie opened #430 "failed to WebSocket dial: unsupported permessage-deflate parameter: "server_max_window_bits=15""
failed to WebSocket dial: unsupported permessage-deflate parameter: "server_max_window_bits=15"

perp depth ws

[2022-10-19 11:48] NNagato commented on #430
what version do you use? i got the same issue with version 2.3.2 but fixed when using the latest version

[2022-10-20 00:47] guotie commented on #430
v2.3.8

[2022-10-20 03:26] guotie commented on #430
when I upgrade to v2.3.9, the problem still exist.

[2022-10-20 03:29] guotie commented on #430
https://github.com/nhooyr/websocket/issues/351

[2022-10-22 23:01] vulnz opened #432 "Basic code example"
Good day, followed the guide, however having this issue:

Please clarify on how to run basic command using your library.
Execution is not even getting to level of main function execution.

test.go:3:5: found packages binance (account_service.go) and main (test.go) in C:\Users\name\Downloads\go-binance-master\go-binance-master\v2

[code]

[2022-10-24 09:43] kunsonx commented on #430
Check on this library: https://github.com/crypto-zero/go-binance

[2022-10-27 04:14] state-developer commented on #311
I would like to see this native too.  However, in the meantime you can fork and update the url yourself.

[2022-10-31 12:42] sngyai commented on #400
Any solution?

[2022-10-31 12:43] sngyai commented on #400
Any solution?

[2022-11-04 04:46] adshao commented on #430
Could you please try with the master branch, let me know if the issue is not fixed, thanks.

[2022-11-05 14:32] #430 closed

[2022-11-15 08:14] byroncoetsee opened #435 "Why no correct types on structs"
Hi
How come most of the structs use `string` on almost all of the variables which would always be, for example, a `float64`?

For example:

[code]

Could be

[code]

Which would allow one to actually do maths on those values without having to convert from a string every time...

I'm happy to make the change and submit a PR - I just want to check the reasoning (if any) for keeping them strings.

[2022-11-16 05:01] adshao commented on #435
`float64` is an inaccurate data type, you should not use it in price calculation, please use another decimal lib instead, for example, [github.com/shopspring/decimal](https://github.com/shopspring/decimal)

[2022-11-21 14:14] mmavka opened #436 "Add and fix filed Symbol struct futures exchangeInfoService"
I have corrected the fields in the symbol structure futures.exchangeInfoService. But I can't create a request. Access error.

add:
- LiquidationFee            string                    \`json:"liquidationFee"\`
- MarketTakeBound       string                    \`json:"marketTakeBound"\`
fix:
- OrderType             []OrderType              \`json:"orderType"\`

[2022-11-21 14:42] adshao commented on #432
As the error said, your should use package `main` instead of `binance` in your code.

[2022-11-21 15:14] adshao commented on #436
you should create a pull request from a fork repo: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2022-11-21 15:30] mmavka commented on #436
Done. Thx